openapi: 3.0.0
info:
  title: Alephium API
  version: 3.3.0
servers:
  - url: https://alephium.nownodes.io
security:
  - api-keyAuth: []
paths:
  /infos/node:
    get:
      tags:
        - Infos
      summary: Get basic ALPH node information
      description: |
        Returns the build version, commit hash, UPnP configuration, and the external address (if available) of the ALPH node.
      responses:
        "200":
          description: Node information retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  buildInfo:
                    type: object
                    description: Information about the build version of the node.
                    properties:
                      releaseVersion:
                        type: string
                        description: Release version of the ALPH node software.
                        example: "4.0.4"
                      commit:
                        type: string
                        description: Git commit hash the node was built from.
                        example: "cdcf3e2a09e4414729de08b21c7087992b98eb18"
                  upnp:
                    type: boolean
                    description: Indicates whether UPnP (Universal Plug and Play) is enabled.
                    example: true
                  externalAddress:
                    type: string
                    nullable: true
                    description: |
                      The external IP address detected by the node. May be `null` if not available or not configured.
                    example: null
                required:
                  - buildInfo
                  - upnp
                  - externalAddress
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"

        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
              example:
                resource: wallet-name
                detail: wallet-name not found
        "500":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /infos/version:
    get:
      tags:
        - Infos
      summary: Get ALPH Node Software Version
      description: Returns the current version of the ALPH node software.
      responses:
        "200":
          description: Version information retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                    description: Current version of the ALPH node.
                    example: "v4.0.4"
                required:
                  - version
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"

        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
              example:
                resource: wallet-name
                detail: wallet-name not found
        "500":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /infos/chain-params:
    get:
      tags:
        - Infos
      summary: Get Chain Parameters
      description: |
        Returns various blockchain configuration parameters used by the ALPH node.
      responses:
        "200":
          description: Chain parameters retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  networkId:
                    type: integer
                    description: Numeric ID representing the blockchain network (e.g. 0 = mainnet, 1 = testnet).
                    example: 0
                  numZerosAtLeastInHash:
                    type: integer
                    description: Minimum number of leading zeros required in the block hash (difficulty setting).
                    example: 37
                  groupNumPerBroker:
                    type: integer
                    description: Number of groups handled per broker.
                    example: 4
                  groups:
                    type: integer
                    description: Total number of groups in the network.
                    example: 4
                required:
                  - networkId
                  - numZerosAtLeastInHash
                  - groupNumPerBroker
                  - groups
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"

        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
              example:
                resource: wallet-name
                detail: wallet-name not found
        "500":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /infos/self-clique:
    get:
      tags:
        - Infos
      summary: Get Self Clique Information
      description: |
        Returns information about the current node's clique, including clique ID, participating nodes, and sync status.
      responses:
        "200":
          description: Self clique information retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cliqueId:
                    type: string
                    description: Unique identifier of the clique the node belongs to.
                    example: "0272a124586f31dbe068b953fb2214657f4747f109d2e9b15c36cb222082979067"
                  nodes:
                    type: array
                    description: List of nodes participating in the clique.
                    items:
                      type: object
                      properties:
                        address:
                          type: string
                          description: IP address of the node.
                          example: "0.0.0.0"
                        restPort:
                          type: integer
                          description: REST API port.
                          example: 12973
                        wsPort:
                          type: integer
                          description: WebSocket API port.
                          example: 11973
                        minerApiPort:
                          type: integer
                          description: Miner API port.
                          example: 10973
                      required:
                        - address
                        - restPort
                        - wsPort
                        - minerApiPort
                  selfReady:
                    type: boolean
                    description: Indicates whether the current node is ready within the clique.
                    example: true
                  synced:
                    type: boolean
                    description: Indicates whether the current node is fully synchronized.
                    example: true
                required:
                  - cliqueId
                  - nodes
                  - selfReady
                  - synced
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"

        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
              example:
                resource: wallet-name
                detail: wallet-name not found
        "500":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /infos/inter-clique-peer-info:
    get:
      tags:
        - Infos
      summary: Get Inter-Clique Peer Information
      description: |
        Returns a list of peers from other cliques that the node is aware of, including their clique IDs, sync status, and client version.
      responses:
        "200":
          description: Peer information retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    cliqueId:
                      type: string
                      description: Unique identifier of the peer's clique.
                      example: "03de24c07d2e742cd4ad4053e1a3234d198bc6a076432d9cca5f654792074dd96f"
                    brokerId:
                      type: integer
                      description: Broker ID associated with the peer.
                      example: 0
                    groupNumPerBroker:
                      type: integer
                      description: Number of groups managed by the peer's broker.
                      example: 4
                    address:
                      type: object
                      description: Network address of the peer.
                      properties:
                        addr:
                          type: string
                          description: IP address of the peer.
                          example: "139.99.16.105"
                        port:
                          type: integer
                          description: Port number used by the peer.
                          example: 9973
                      required:
                        - addr
                        - port
                    isSynced:
                      type: boolean
                      description: Indicates whether the peer is synchronized.
                      example: true
                    clientVersion:
                      type: string
                      description: Version and platform details of the peer's client.
                      example: "scala-alephium/v4.0.4/Linux/p2p-v2"
                  required:
                    - cliqueId
                    - brokerId
                    - groupNumPerBroker
                    - address
                    - isSynced
                    - clientVersion
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"

        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
              example:
                resource: wallet-name
                detail: wallet-name not found
        "500":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /infos/discovered-neighbors:
    get:
      tags:
        - Infos
      summary: Get Discovered Neighboring Peers
      description: |
        Returns a list of discovered neighbors from other cliques, including their clique ID, broker ID, broker number, and network address.
      responses:
        "200":
          description: Discovered neighbors retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    cliqueId:
                      type: string
                      description: Unique identifier of the discovered peer's clique.
                      example: "037e0a046eda3de8e42cfe2bdebea7033bb779d99efa7b9c36b2c940695eb21942"
                    brokerId:
                      type: integer
                      description: ID of the broker within the clique.
                      example: 0
                    brokerNum:
                      type: integer
                      description: Number of brokers in the clique.
                      example: 1
                    address:
                      type: object
                      description: Network address of the discovered neighbor.
                      properties:
                        addr:
                          type: string
                          description: IP address of the peer.
                          example: "195.154.210.36"
                        port:
                          type: integer
                          description: Port number used by the peer.
                          example: 19140
                      required:
                        - addr
                        - port
                  required:
                    - cliqueId
                    - brokerId
                    - brokerNum
                    - address
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"

        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
              example:
                resource: wallet-name
                detail: wallet-name not found
        "500":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /infos/misbehaviors:
    get:
      tags:
        - Infos
      summary: Get Misbehaving Peers
      description: |
        Returns a list of peers that have been flagged for misbehavior, including their status and ban information.
      responses:
        "200":
          description: Misbehaving peer list retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    peer:
                      type: string
                      description: IP address of the misbehaving peer.
                      example: "77.223.102.9"
                    status:
                      type: object
                      description: Current status of the peer, including type and ban duration.
                      properties:
                        type:
                          type: string
                          enum: [Banned, Unknown]
                          description: Status type of the peer (e.g., Banned).
                          example: "Banned"
                        until:
                          type: integer
                          format: int64
                          description: Unix timestamp in milliseconds until which the peer is banned.
                          example: 1754943461295
                      required:
                        - type
                        - until
                  required:
                    - peer
                    - status
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"

        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
              example:
                resource: wallet-name
                detail: wallet-name not found
        "500":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /infos/unreachable:
    get:
      tags:
        - Infos
      summary: Get Unreachable Peers
      description: |
        Returns a list of peer IP addresses that are currently unreachable from this node.
      responses:
        "200":
          description: List of unreachable peers retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  format: ipv4
                  description: IP address of an unreachable peer.
                  example: "77.223.102.9"
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"

        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
              example:
                resource: wallet-name
                detail: wallet-name not found
        "500":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /infos/history-hashrate:
    get:
      tags:
        - Infos
      summary: Get Historical Hashrate Summary
      description: |
        Returns a summary string representing the node's hashrate over the specified time range.
      parameters:
        - name: fromTs
          in: query
          description: Start timestamp (Unix ms) for the requested hashrate history.
          required: true
          schema:
            type: integer
            format: int64
            example: 1622548800000
        - name: toTs
          in: query
          description: End timestamp (Unix ms) for the requested hashrate history.
          required: true
          schema:
            type: integer
            format: int64
            example: 1622635200000
      responses:
        "200":
          description: Historical hashrate summary retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  hashrate:
                    type: string
                    description: Hashrate summary with unit (e.g., "0 MH/s").
                    example: "0 MH/s"
                required:
                  - hashrate

        "400":
          description: Invalid or missing query parameters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Missing or invalid fromTs/toTs parameters"

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"

        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
              example:
                resource: wallet-name
                detail: wallet-name not found
        "500":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /infos/current-hashrate:
    get:
      tags:
        - Infos
      summary: Get Current Hashrate
      description: Returns the current hashrate of the node as a string with units.
      responses:
        "200":
          description: Current hashrate retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  hashrate:
                    type: string
                    description: Current hashrate with unit (e.g., "19812439796 MH/s").
                    example: "19812439796 MH/s"
                required:
                  - hashrate

        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"

        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
              example:
                resource: wallet-name
                detail: wallet-name not found
        "500":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /infos/current-difficulty:
    get:
      tags:
        - Infos
      summary: Get Current Difficulty
      description: Returns the current network difficulty as a string.
      responses:
        "200":
          description: Current difficulty retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  difficulty:
                    type: string
                    description: Current network difficulty value.
                    example: "617922583757445"
                required:
                  - difficulty
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"

        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
              example:
                resource: wallet-name
                detail: wallet-name not found
        "500":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /blockflow/blocks:
    get:
      tags:
        - Blockflow
      summary: List blocks on the given time interval
      description: |
        Returns blocks produced within the specified time range.
      operationId: getBlockflowBlocks
      parameters:
        - name: fromTs
          in: query
          required: true
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: toTs
          in: query
          required: false
          schema:
            type: integer
            format: int64
            minimum: 0
      responses:
        "200":
          description: Valid response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlocksPerTimeStampRange"
              example:
                blocks:
                  - - hash: bdaf9dc514ce7d34b6474b8ca10a3dfb93ba997cb9d5ff1ea724ebe2af48abe5
                      timestamp: 1611041396892
                      chainFrom: 1
                      chainTo: 2
                      height: 42
                      deps:
                        - bdaf9dc514ce7d34b6474b8ca10a3dfb93ba997cb9d5ff1ea724ebe2af48abe5
                        - bdaf9dc514ce7d34b6474b8ca10a3dfb93ba997cb9d5ff1ea724ebe2af48abe5
                      transactions:
                        - unsigned:
                            txId: 503bfb16230888af4924aa8f8250d7d348b862e267d75d3147f1998050b6da69
                            version: 1
                            networkId: 1
                            gasAmount: 20000
                            gasPrice: "100000000000"
                            inputs:
                              - outputRef:
                                  hint: 23412
                                  key: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                                unlockScript: 00d1b70d2226308b46da297486adb6b4f1a8c1842cb159ac5ec04f384fe2d6f5da28
                            fixedOutputs:
                              - hint: 1
                                key: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                                attoAlphAmount: "2000000000000000000"
                                address: 1AujpupFP4KWeZvqA7itsHY9cLJmx4qTzojVZrg8W9y
                                tokens:
                                  - id: 2d11fd6c12435ffb07aaed4d190a505b621b927a5f6e51b61ce0ebe186397bdd
                                    amount: "42000000000000000000"
                                  - id: bd165d20bd063c7a023d22232a1e75bf46e904067f92b49323fe89fa0fd586bf
                                    amount: "1000000000000000000000"
                                lockTime: 1611041396892
                                message: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                          scriptExecutionOk: true
                          contractInputs:
                            - hint: 23412
                              key: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                          generatedOutputs:
                            - type: AssetOutput
                              hint: 1
                              key: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                              attoAlphAmount: "2000000000000000000"
                              address: 1AujpupFP4KWeZvqA7itsHY9cLJmx4qTzojVZrg8W9y
                              tokens:
                                - id: 2d11fd6c12435ffb07aaed4d190a505b621b927a5f6e51b61ce0ebe186397bdd
                                  amount: "42000000000000000000"
                                - id: bd165d20bd063c7a023d22232a1e75bf46e904067f92b49323fe89fa0fd586bf
                                  amount: "1000000000000000000000"
                              lockTime: 1611041396892
                              message: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                            - type: ContractOutput
                              hint: 1
                              key: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                              attoAlphAmount: "2000000000000000000"
                              address: uomjgUz6D4tLejTkQtbNJMY8apAjTm1bgQf7em1wDV7S
                              tokens:
                                - id: 2d11fd6c12435ffb07aaed4d190a505b621b927a5f6e51b61ce0ebe186397bdd
                                  amount: "42000000000000000000"
                                - id: bd165d20bd063c7a023d22232a1e75bf46e904067f92b49323fe89fa0fd586bf
                                  amount: "1000000000000000000000"
                          inputSignatures:
                            - 9e1a35b2931bd04e6780d01c36e3e5337941aa80f173cfe4f4e249c44ab135272b834c1a639db9c89d673a8a30524042b0469672ca845458a5a0cf2cad53221b
                          scriptSignatures:
                            - 9e1a35b2931bd04e6780d01c36e3e5337941aa80f173cfe4f4e249c44ab135272b834c1a639db9c89d673a8a30524042b0469672ca845458a5a0cf2cad53221b
                      nonce: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                      version: 1
                      depStateHash: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                      txsHash: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                      target: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                      ghostUncles:
                        - blockHash: bdaf9dc514ce7d34b6474b8ca10a3dfb93ba997cb9d5ff1ea724ebe2af48abe5
                          miner: 1AujpupFP4KWeZvqA7itsHY9cLJmx4qTzojVZrg8W9y
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"

        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
              example:
                resource: wallet-name
                detail: wallet-name not found
        "500":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /blockflow/blocks-with-events:
    get:
      tags:
        - Blockflow
      summary: List blocks with events on the given time interval
      operationId: getBlockflowBlocks-with-events
      parameters:
        - name: fromTs
          in: query
          required: true
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: toTs
          in: query
          required: false
          schema:
            type: integer
            format: int64
            minimum: 0
      responses:
        "200":
          description: Valid response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlocksAndEventsPerTimeStampRange"
              example:
                blocksAndEvents:
                  - - block:
                        hash: bdaf9dc514ce7d34b6474b8ca10a3dfb93ba997cb9d5ff1ea724ebe2af48abe5
                        timestamp: 1611041396892
                        chainFrom: 1
                        chainTo: 2
                        height: 42
                        deps:
                          - bdaf9dc514ce7d34b6474b8ca10a3dfb93ba997cb9d5ff1ea724ebe2af48abe5
                          - bdaf9dc514ce7d34b6474b8ca10a3dfb93ba997cb9d5ff1ea724ebe2af48abe5
                        transactions:
                          - unsigned:
                              txId: 503bfb16230888af4924aa8f8250d7d348b862e267d75d3147f1998050b6da69
                              version: 1
                              networkId: 1
                              gasAmount: 20000
                              gasPrice: "100000000000"
                              inputs:
                                - outputRef:
                                    hint: 23412
                                    key: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                                  unlockScript: 00d1b70d2226308b46da297486adb6b4f1a8c1842cb159ac5ec04f384fe2d6f5da28
                              fixedOutputs:
                                - hint: 1
                                  key: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                                  attoAlphAmount: "2000000000000000000"
                                  address: 1AujpupFP4KWeZvqA7itsHY9cLJmx4qTzojVZrg8W9y
                                  tokens:
                                    - id: 2d11fd6c12435ffb07aaed4d190a505b621b927a5f6e51b61ce0ebe186397bdd
                                      amount: "42000000000000000000"
                                    - id: bd165d20bd063c7a023d22232a1e75bf46e904067f92b49323fe89fa0fd586bf
                                      amount: "1000000000000000000000"
                                  lockTime: 1611041396892
                                  message: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                            scriptExecutionOk: true
                            contractInputs:
                              - hint: 23412
                                key: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                            generatedOutputs:
                              - type: AssetOutput
                                hint: 1
                                key: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                                attoAlphAmount: "2000000000000000000"
                                address: 1AujpupFP4KWeZvqA7itsHY9cLJmx4qTzojVZrg8W9y
                                tokens:
                                  - id: 2d11fd6c12435ffb07aaed4d190a505b621b927a5f6e51b61ce0ebe186397bdd
                                    amount: "42000000000000000000"
                                  - id: bd165d20bd063c7a023d22232a1e75bf46e904067f92b49323fe89fa0fd586bf
                                    amount: "1000000000000000000000"
                                lockTime: 1611041396892
                                message: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                              - type: ContractOutput
                                hint: 1
                                key: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                                attoAlphAmount: "2000000000000000000"
                                address: uomjgUz6D4tLejTkQtbNJMY8apAjTm1bgQf7em1wDV7S
                                tokens:
                                  - id: 2d11fd6c12435ffb07aaed4d190a505b621b927a5f6e51b61ce0ebe186397bdd
                                    amount: "42000000000000000000"
                                  - id: bd165d20bd063c7a023d22232a1e75bf46e904067f92b49323fe89fa0fd586bf
                                    amount: "1000000000000000000000"
                            inputSignatures:
                              - 9e1a35b2931bd04e6780d01c36e3e5337941aa80f173cfe4f4e249c44ab135272b834c1a639db9c89d673a8a30524042b0469672ca845458a5a0cf2cad53221b
                            scriptSignatures:
                              - 9e1a35b2931bd04e6780d01c36e3e5337941aa80f173cfe4f4e249c44ab135272b834c1a639db9c89d673a8a30524042b0469672ca845458a5a0cf2cad53221b
                        nonce: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                        version: 1
                        depStateHash: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                        txsHash: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                        target: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                        ghostUncles:
                          - blockHash: bdaf9dc514ce7d34b6474b8ca10a3dfb93ba997cb9d5ff1ea724ebe2af48abe5
                            miner: 1AujpupFP4KWeZvqA7itsHY9cLJmx4qTzojVZrg8W9y
                      events:
                        - txId: 503bfb16230888af4924aa8f8250d7d348b862e267d75d3147f1998050b6da69
                          contractAddress: vSxdLL2kE3o6vJBdKkdgmS3W39G3ZEmFHpo2y1jnbzBq
                          eventIndex: 1
                          fields:
                            - type: Address
                              value: 1AujpupFP4KWeZvqA7itsHY9cLJmx4qTzojVZrg8W9y
                            - type: U256
                              value: "10"
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"

        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
              example:
                resource: wallet-name
                detail: wallet-name not found
        "500":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /blockflow/blocks/{block_hash}:
    get:
      tags:
        - Blockflow
      summary: Get Block by Hash
      description: Retrieves detailed information about a block identified by its hash.
      parameters:
        - name: block_hash
          in: path
          required: true
          description: The hash of the block to retrieve.
          schema:
            type: string
            example: "0000000000004612ec7dbcf08dc4f07e65ac767f9fe0c32b53a61c18761ef44c"
      responses:
        "200":
          description: Block information retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  hash:
                    type: string
                    description: Block hash.
                    example: "0000000000004612ec7dbcf08dc4f07e65ac767f9fe0c32b53a61c18761ef44c"
                  timestamp:
                    type: integer
                    description: Unix timestamp in milliseconds when the block was created.
                    example: 1754913020964
                  chainFrom:
                    type: integer
                    description: Source chain ID.
                    example: 3
                  chainTo:
                    type: integer
                    description: Destination chain ID.
                    example: 0
                  height:
                    type: integer
                    description: Block height.
                    example: 3117858
                  deps:
                    type: array
                    description: List of dependent block hashes.
                    items:
                      type: string
                      example: "00000000000007d6582a5af7ce642de0454d790b0f8f55ccf30667c747eabf00"
                  transactions:
                    type: array
                    description: List of transactions included in the block.
                    items:
                      type: object
                      properties:
                        unsigned:
                          type: object
                          description: Unsigned transaction data.
                          properties:
                            txId:
                              type: string
                              description: Transaction ID.
                              example: "12a99bdb3aa8961f0d099a30996e3c6003f49cafe9397ed0e96daea2938a8e42"
                            version:
                              type: integer
                              example: 0
                            networkId:
                              type: integer
                              example: 0
                            gasAmount:
                              type: integer
                              example: 20000
                            gasPrice:
                              type: string
                              description: Gas price as a string.
                              example: "1000000000"
                            inputs:
                              type: array
                              description: Transaction inputs.
                              items:
                                type: object
                              example: []
                            fixedOutputs:
                              type: array
                              description: Fixed outputs of the transaction.
                              items:
                                type: object
                                properties:
                                  hint:
                                    type: integer
                                    example: -856749559
                                  key:
                                    type: string
                                    example: "a523cac223b9ef2a98c66b92de5ff2b8042a0e951cb6f5f0919b4b1eec3a362d"
                                  attoAlphAmount:
                                    type: string
                                    description: Amount in atto ALPH.
                                    example: "191472590469365818"
                                  address:
                                    type: string
                                    description: Recipient address.
                                    example: "1PZonix2UoaguUfbbBnWevk4vod1m9MeJXBnkr7aqN76"
                                  tokens:
                                    type: array
                                    description: List of tokens (empty here).
                                    items:
                                      type: object
                                  lockTime:
                                    type: integer
                                    description: Lock time as Unix timestamp in ms.
                                    example: 1754943020964
                                  message:
                                    type: string
                                    example: "030000"
                        scriptExecutionOk:
                          type: boolean
                          description: Whether script execution succeeded.
                          example: true
                        contractInputs:
                          type: array
                          description: Contract inputs.
                          items:
                            type: object
                          example: []
                        generatedOutputs:
                          type: array
                          description: Outputs generated by the script.
                          items:
                            type: object
                          example: []
                        inputSignatures:
                          type: array
                          description: Input signatures.
                          items:
                            type: object
                          example: []
                        scriptSignatures:
                          type: array
                          description: Script signatures.
                          items:
                            type: object
                          example: []
                  nonce:
                    type: string
                    description: Nonce value.
                    example: "1a4d00000000000000000000000000000022a74ad1b6753f"
                  version:
                    type: integer
                    example: 0
                  depStateHash:
                    type: string
                    description: Dependency state hash.
                    example: "0ad632ebff89ecb0d1af82f7de24372d8dc823dba623f2073983bcb8c56eedd2"
                  txsHash:
                    type: string
                    description: Transactions hash.
                    example: "480dc015f5267c1d27e5a665016254f72b83554e7992e6b4473a65566cdbb4a7"
                  target:
                    type: string
                    description: Mining target.
                    example: "1a808a0f"
                  ghostUncles:
                    type: array
                    description: List of ghost uncle block hashes.
                    items:
                      type: string
                    example: []
                required:
                  - hash
                  - timestamp
                  - chainFrom
                  - chainTo
                  - height
                  - deps
                  - transactions
                  - nonce
                  - version
                  - depStateHash
                  - txsHash
                  - target
                  - ghostUncles
        "400":
          description: Invalid block hash supplied.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid block hash"
        "404":
          description: Block not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Block not found"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Internal server error"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /blockflow/main-chain-block-by-ghost-uncle/{ghost_uncle_hash}:
    get:
      tags:
        - Blockflow
      summary: Get a mainchain block by ghost uncle hash
      operationId: getBlockflowMain-chain-block-by-ghost-uncleGhost_uncle_hash
      parameters:
        - name: ghost_uncle_hash
          in: path
          required: true
          schema:
            type: string
            format: block-hash
      responses:
        "200":
          description: Valid response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlockEntry"
              example:
                hash: bdaf9dc514ce7d34b6474b8ca10a3dfb93ba997cb9d5ff1ea724ebe2af48abe5
                timestamp: 1611041396892
                chainFrom: 1
                chainTo: 2
                height: 42
                deps:
                  - bdaf9dc514ce7d34b6474b8ca10a3dfb93ba997cb9d5ff1ea724ebe2af48abe5
                  - bdaf9dc514ce7d34b6474b8ca10a3dfb93ba997cb9d5ff1ea724ebe2af48abe5
                transactions:
                  - unsigned:
                      txId: 503bfb16230888af4924aa8f8250d7d348b862e267d75d3147f1998050b6da69
                      version: 1
                      networkId: 1
                      gasAmount: 20000
                      gasPrice: "100000000000"
                      inputs:
                        - outputRef:
                            hint: 23412
                            key: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                          unlockScript: 00d1b70d2226308b46da297486adb6b4f1a8c1842cb159ac5ec04f384fe2d6f5da28
                      fixedOutputs:
                        - hint: 1
                          key: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                          attoAlphAmount: "2000000000000000000"
                          address: 1AujpupFP4KWeZvqA7itsHY9cLJmx4qTzojVZrg8W9y
                          tokens:
                            - id: 2d11fd6c12435ffb07aaed4d190a505b621b927a5f6e51b61ce0ebe186397bdd
                              amount: "42000000000000000000"
                            - id: bd165d20bd063c7a023d22232a1e75bf46e904067f92b49323fe89fa0fd586bf
                              amount: "1000000000000000000000"
                          lockTime: 1611041396892
                          message: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                    scriptExecutionOk: true
                    contractInputs:
                      - hint: 23412
                        key: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                    generatedOutputs:
                      - type: AssetOutput
                        hint: 1
                        key: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                        attoAlphAmount: "2000000000000000000"
                        address: 1AujpupFP4KWeZvqA7itsHY9cLJmx4qTzojVZrg8W9y
                        tokens:
                          - id: 2d11fd6c12435ffb07aaed4d190a505b621b927a5f6e51b61ce0ebe186397bdd
                            amount: "42000000000000000000"
                          - id: bd165d20bd063c7a023d22232a1e75bf46e904067f92b49323fe89fa0fd586bf
                            amount: "1000000000000000000000"
                        lockTime: 1611041396892
                        message: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                      - type: ContractOutput
                        hint: 1
                        key: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                        attoAlphAmount: "2000000000000000000"
                        address: uomjgUz6D4tLejTkQtbNJMY8apAjTm1bgQf7em1wDV7S
                        tokens:
                          - id: 2d11fd6c12435ffb07aaed4d190a505b621b927a5f6e51b61ce0ebe186397bdd
                            amount: "42000000000000000000"
                          - id: bd165d20bd063c7a023d22232a1e75bf46e904067f92b49323fe89fa0fd586bf
                            amount: "1000000000000000000000"
                    inputSignatures:
                      - 9e1a35b2931bd04e6780d01c36e3e5337941aa80f173cfe4f4e249c44ab135272b834c1a639db9c89d673a8a30524042b0469672ca845458a5a0cf2cad53221b
                    scriptSignatures:
                      - 9e1a35b2931bd04e6780d01c36e3e5337941aa80f173cfe4f4e249c44ab135272b834c1a639db9c89d673a8a30524042b0469672ca845458a5a0cf2cad53221b
                nonce: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                version: 1
                depStateHash: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                txsHash: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                target: 798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef
                ghostUncles:
                  - blockHash: bdaf9dc514ce7d34b6474b8ca10a3dfb93ba997cb9d5ff1ea724ebe2af48abe5
                    miner: 1AujpupFP4KWeZvqA7itsHY9cLJmx4qTzojVZrg8W9y
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"

        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
              example:
                resource: wallet-name
                detail: wallet-name not found
        "500":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /blockflow/blocks-with-events/{block_hash}:
    get:
      tags:
        - Blockflow
      summary: Get Block with Events
      description: |
        Retrieves detailed block information along with any smart contract events emitted in the block.
      parameters:
        - name: block_hash
          in: path
          required: true
          description: The hash of the block.
          schema:
            type: string
            example: "0000000000001ddd11912d103cae4d7596a49485ee7ea8e9c2acdc32b4480759"
      responses:
        "200":
          description: Block with events retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  block:
                    type: object
                    properties:
                      hash:
                        type: string
                        example: "0000000000001ddd11912d103cae4d7596a49485ee7ea8e9c2acdc32b4480759"
                      timestamp:
                        type: integer
                        format: int64
                        example: 1754913626360
                      chainFrom:
                        type: integer
                        example: 2
                      chainTo:
                        type: integer
                        example: 1
                      height:
                        type: integer
                        example: 3217510
                      deps:
                        type: array
                        items:
                          type: string
                      transactions:
                        type: array
                        items:
                          type: object
                          properties:
                            unsigned:
                              type: object
                              properties:
                                txId:
                                  type: string
                                  example: "4a91d581039055cef017e0ced7dae4a9176be281153e7cc12aebf790e536b645"
                                version:
                                  type: integer
                                  example: 0
                                networkId:
                                  type: integer
                                  example: 0
                                gasAmount:
                                  type: integer
                                  example: 20000
                                gasPrice:
                                  type: string
                                  example: "1000000000"
                                inputs:
                                  type: array
                                  items:
                                    type: object
                                  example: []
                                fixedOutputs:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      hint:
                                        type: integer
                                        example: -502957581
                                      key:
                                        type: string
                                      attoAlphAmount:
                                        type: string
                                      address:
                                        type: string
                                      tokens:
                                        type: array
                                        items:
                                          type: object
                                      lockTime:
                                        type: integer
                                      message:
                                        type: string
                            scriptExecutionOk:
                              type: boolean
                              example: true
                            contractInputs:
                              type: array
                              items:
                                type: object
                              example: []
                            generatedOutputs:
                              type: array
                              items:
                                type: object
                              example: []
                            inputSignatures:
                              type: array
                              items:
                                type: object
                              example: []
                            scriptSignatures:
                              type: array
                              items:
                                type: object
                              example: []
                      nonce:
                        type: string
                        example: "68710000000000000000000000000000009b4cca7126d384"
                      version:
                        type: integer
                        example: 0
                      depStateHash:
                        type: string
                        example: "600fd8ce293930f6c7361894f33f54a04df2ac1339617eee13ed7da99bba98ab"
                      txsHash:
                        type: string
                        example: "12e5681ac5f5ab02779778bc22df52aca57846cec805d4dd3ee5dc0d466223d2"
                      target:
                        type: string
                        example: "1a76456d"
                      ghostUncles:
                        type: array
                        items:
                          type: string
                        example: []
                  events:
                    type: array
                    description: List of smart contract events emitted in the block.
                    items:
                      type: object
                      description: Structure depends on contract logic.
                    example: []
        "404":
          description: Block not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Block not found"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Internal server error"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /blockflow/is-block-in-main-chain:
    get:
      tags:
        - Blockflow
      summary: Check if Block is in Main Chain
      description: |
        Returns whether the specified block is part of the main chain.
      parameters:
        - name: blockHash
          in: query
          required: true
          description: The hash of the block to check.
          schema:
            type: string
            example: "0000000000001ddd11912d103cae4d7596a49485ee7ea8e9c2acdc32b4480759"
      responses:
        "200":
          description: Successfully checked block status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  isMainChain:
                    type: boolean
                    description: True if the block is in the main chain, false otherwise.
                    example: true
        "400":
          description: Invalid or missing block hash.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Missing or invalid blockHash"
        "404":
          description: Block not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Block not found"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Internal server error"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /addresses/{address}/balance:
    get:
      tags:
        - Addresses
      summary: Get Address Balance (with optional mempool)
      description: |
        Returns total and locked balances for the specified address.
        If `mempool=true`, balances will include the effect of unconfirmed transactions.
      parameters:
        - name: address
          in: path
          required: true
          description: The address to query.
          schema:
            type: string
            example: "12jK2jHyyJTJyuRMRya7QJSojgVnb5yh4HVzNNw6BTBDF"
        - name: mempool
          in: query
          required: false
          description: Whether to include unconfirmed (mempool) transactions in the balance calculation.
          schema:
            type: boolean
            default: false
            example: true
      responses:
        "200":
          description: Address balance retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: string
                    description: Total balance in atto-ALPH.
                    example: "465478842708706554897"
                  balanceHint:
                    type: string
                    description: Readable ALPH balance.
                    example: "465.478842708706554897 ALPH"
                  lockedBalance:
                    type: string
                    description: Locked balance in atto-ALPH.
                    example: "461357694374776064051"
                  lockedBalanceHint:
                    type: string
                    description: Readable locked balance in ALPH.
                    example: "461.357694374776064051 ALPH"
                  utxoNum:
                    type: integer
                    description: Number of unspent outputs for the address.
                    example: 2459
        "400":
          description: Invalid address or query parameter.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid address"
        "404":
          description: Address not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Address not found"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Internal server error"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /addresses/{address}/utxos:
    get:
      tags:
        - Addresses
      summary: Get UTXOs for Address
      description: |
        Returns all unspent outputs (UTXOs) associated with a specific address.
      parameters:
        - name: address
          in: path
          required: true
          description: The address whose UTXOs are requested.
          schema:
            type: string
            example: "12jK2jHyyJTJyuRMRya7QJSojgVnb5yh4HVzNNw6BTBDF"
      responses:
        "200":
          description: List of UTXOs retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  utxos:
                    type: array
                    description: List of unspent transaction outputs for the address.
                    items:
                      type: object
                      properties:
                        ref:
                          type: object
                          description: UTXO reference.
                          properties:
                            hint:
                              type: integer
                              description: Internal identifier for the UTXO reference.
                              example: -421195643
                            key:
                              type: string
                              description: Unique key of the UTXO.
                              example: "000cee2f94bbb6c87776016a9c55d2d7e454564f1ce38b7b3ace0ec6399021ec"
                        amount:
                          type: string
                          description: Amount in atto-ALPH.
                          example: "191472590469365818"
                        lockTime:
                          type: integer
                          description: Time until which this UTXO is locked (UNIX timestamp in ms).
                          example: 1754924356031
                        additionalData:
                          type: string
                          description: Optional metadata, often used to store contract- or wallet-specific data.
                          example: "030200"
        "400":
          description: Invalid address format.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid address format"
        "404":
          description: Address not found or has no UTXOs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "No UTXOs found for address"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Internal server error"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /addresses/{address}/group:
    get:
      tags:
        - Addresses
      summary: Get Group Number by Address
      description: Returns the group number for the specified address.
      parameters:
        - name: address
          in: path
          required: true
          description: The address to query.
          schema:
            type: string
            example: "12jK2jHyyJTJyuRMRya7QJSojgVnb5yh4HVzNNw6BTBDF"
      responses:
        "200":
          description: Group number retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  group:
                    type: integer
                    description: The group number associated with the address.
                    example: 2
        "400":
          description: Invalid address format.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid address format"
        "404":
          description: Address not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Address not found"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Internal server error"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /blockflow/hashes:
    get:
      tags:
        - Blockflow
      summary: Get Block Headers Hashes
      description: |
        Retrieves block header hashes filtered by source group, destination group, and block height.
      parameters:
        - name: fromGroup
          in: query
          required: true
          description: Source group number.
          schema:
            type: integer
            example: 1
        - name: toGroup
          in: query
          required: true
          description: Destination group number.
          schema:
            type: integer
            example: 2
        - name: height
          in: query
          required: true
          description: Block height to filter.
          schema:
            type: integer
            example: 3087063
      responses:
        "200":
          description: List of block header hashes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: array
                    description: Array of block header hashes matching the criteria.
                    items:
                      type: string
                      example: "0000000000000edd995d369f408344e473eeb1beaa050911c393661a7ef71b46"
        "400":
          description: Invalid or missing query parameters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Missing or invalid query parameters"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Internal server error"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /blockflow/chain-info:
    get:
      tags:
        - Blockflow
      summary: Get Chain Info by Groups
      description: Returns the current chain height filtered by fromGroup and toGroup.
      parameters:
        - name: fromGroup
          in: query
          required: true
          description: Source group number.
          schema:
            type: integer
            example: 1
        - name: toGroup
          in: query
          required: true
          description: Destination group number.
          schema:
            type: integer
            example: 2
      responses:
        "200":
          description: Chain information retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  currentHeight:
                    type: integer
                    description: Current height of the blockchain for the specified group range.
                    example: 3351911
        "400":
          description: Invalid or missing query parameters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Missing or invalid query parameters"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Internal server error"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /blockflow/headers/{block_hash}:
    get:
      tags:
        - Blockflow
      summary: Get Block Header by Hash
      description: Returns detailed information about a block header identified by its hash.
      parameters:
        - name: block_hash
          in: path
          required: true
          description: Hash of the block header to retrieve.
          schema:
            type: string
            example: "0000000000005c8d2761b8c0967d5e0dcbfe47a5678a80f676a54276d956e3ed"
      responses:
        "200":
          description: Block header retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  hash:
                    type: string
                    description: Unique hash of the block.
                    example: "0000000000005c8d2761b8c0967d5e0dcbfe47a5678a80f676a54276d956e3ed"
                  timestamp:
                    type: integer
                    description: Timestamp of the block in milliseconds since epoch.
                    example: 1754914650065
                  chainFrom:
                    type: integer
                    description: Source chain group number.
                    example: 3
                  chainTo:
                    type: integer
                    description: Destination chain group number.
                    example: 1
                  height:
                    type: integer
                    description: Block height.
                    example: 3087063
                  deps:
                    type: array
                    description: Array of dependent block hashes.
                    items:
                      type: string
                    example:
                      - "00000000000077b5fa47c09862b5e5bdac2d607a0c2d5f47c6a809dfe648fe30"
                      - "0000000000002607d92a86fe627d89508c772b8212c2e329ec01ff08b8a72e05"
                      - "0000000000001bf5527420ea81e4cfbe9f876d8684789dad8141ea761624f6ba"
                      - "00000000000051c9411b5c0d34753677a2c05f36f085dddb9a5ac6462559727c"
                      - "00000000000025f9d5df85bee58053b9e0a66a707e6a20b385c5ab7afb566c9d"
                      - "0000000000005266b43014907a76202f534ecf9370033aa72cca5112c8448dae"
                      - "0000000000003979d68003f93bb1d10e82ef0a7ff62e19cdd94aa19d3f4379ef"
        "400":
          description: Invalid block hash supplied.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid block hash"
        "404":
          description: Block header not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Block not found"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Internal server error"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /transactions/build:
    post:
      tags:
        - Transactions
      summary: Build Transaction
      description: Creates a new unsigned transaction from the sender’s public key to specified destinations.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fromPublicKey
                - destinations
              properties:
                fromPublicKey:
                  type: string
                  description: Sender’s public key in hex format.
                  example: "d1b70d2226308b46da297486adb6b4f1a8c1842cb159ac5ec04f384fe2d6f5da28"
                destinations:
                  type: array
                  description: List of destination addresses with amounts.
                  items:
                    type: object
                    required:
                      - address
                      - attoAlphAmount
                    properties:
                      address:
                        type: string
                        description: Destination ALPH address.
                        example: "12jK2jHyyJTJyuRMRya7QJSojgVnb5yh4HVzNNw6BTBDF"
                      attoAlphAmount:
                        type: string
                        description: Amount in attoALPH to send (1 ALPH = 10^18 attoALPH).
                        example: "2000000000000000"
      responses:
        "200":
          description: Transaction built successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  unsignedTx:
                    type: string
                    description: Serialized unsigned transaction in hex.
                    example: "35d1b2a520a0da34c5eb8d712aa9cc"
                  gasAmount:
                    type: integer
                    description: Gas amount estimated for the transaction.
                    example: 20000
                  gasPrice:
                    type: string
                    description: Gas price per unit in attoALPH.
                    example: "100000000000"
                  txId:
                    type: string
                    description: Transaction identifier hash.
                    example: "503bfb16230888af4924aa8f8250d7d348b862e267d75d3147f1998050b6da69"
                  fromGroup:
                    type: integer
                    description: Source group ID.
                    example: 2
                  toGroup:
                    type: integer
                    description: Destination group ID.
                    example: 1
        "400":
          description: Invalid request payload.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input data"

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"

        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
              example:
                resource: wallet-name
                detail: wallet-name not found
        "500":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /transactions/build-multi-addresses:
    post:
      tags:
        - Transactions
      summary: Build Transaction from Multiple Addresses
      description: Creates a new unsigned transaction from multiple senders each with their own destinations.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - from
              properties:
                from:
                  type: array
                  description: List of sender public keys with their destinations.
                  items:
                    type: object
                    required:
                      - fromPublicKey
                      - destinations
                    properties:
                      fromPublicKey:
                        type: string
                        description: Sender’s public key in hex format.
                        example: "d1b70d2226308b46da297486adb6b4f1a8c1842cb159ac5ec04f384fe2d6f5da28"
                      destinations:
                        type: array
                        description: List of destination addresses with amounts for this sender.
                        items:
                          type: object
                          required:
                            - address
                            - attoAlphAmount
                          properties:
                            address:
                              type: string
                              description: Destination ALPH address.
                              example: "1AujpupFP4KWeZvqA7itsHY9cLJmx4qTzojVZrg8W9y"
                            attoAlphAmount:
                              type: string
                              description: Amount in attoALPH to send (1 ALPH = 10^18 attoALPH).
                              example: "2000000000000000000"
      responses:
        "200":
          description: Transaction built successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  unsignedTx:
                    type: string
                    description: Serialized unsigned transaction in hex.
                    example: "35d1b2a520a0da34c5eb8d712aa9cc"
                  gasAmount:
                    type: integer
                    description: Gas amount estimated for the transaction.
                    example: 20000
                  gasPrice:
                    type: string
                    description: Gas price per unit in attoALPH.
                    example: "100000000000"
                  txId:
                    type: string
                    description: Transaction identifier hash.
                    example: "503bfb16230888af4924aa8f8250d7d348b862e267d75d3147f1998050b6da69"
                  fromGroup:
                    type: integer
                    description: Source group ID.
                    example: 2
                  toGroup:
                    type: integer
                    description: Destination group ID.
                    example: 1
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"

        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
              example:
                resource: wallet-name
                detail: wallet-name not found
        "500":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /transactions/sweep-address/build:
    post:
      tags:
        - Transactions
      summary: Build Sweep Transaction
      description: Creates unsigned transaction(s) to sweep all funds from the specified public key’s address to a destination address.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fromPublicKey
                - toAddress
              properties:
                fromPublicKey:
                  type: string
                  description: Public key of the source address to sweep funds from.
                  example: "d1b70d2226308b46da297486adb6b4f1a8c1842cb159ac5ec04f384fe2d6f5da28"
                toAddress:
                  type: string
                  description: Destination ALPH address where all funds will be sent.
                  example: "1AujpupFP4KWeZvqA7itsHY9cLJmx4qTzojVZrg8W9y"
      responses:
        "200":
          description: Sweep transaction(s) built successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  unsignedTxs:
                    type: array
                    description: List of unsigned transactions created for sweeping funds.
                    items:
                      type: object
                      properties:
                        txId:
                          type: string
                          description: Transaction identifier hash.
                          example: "503bfb16230888af4924aa8f8250d7d348b862e267d75d3147f1998050b6da69"
                        unsignedTx:
                          type: string
                          description: Serialized unsigned transaction in hex format.
                          example: "35d1b2a520a0da34c5eb8d712aa9cc"
                        gasAmount:
                          type: integer
                          description: Gas amount estimated for this transaction.
                          example: 20000
                        gasPrice:
                          type: string
                          description: Gas price per unit in attoALPH.
                          example: "100000000000"
                  fromGroup:
                    type: integer
                    description: Source group ID.
                    example: 2
                  toGroup:
                    type: integer
                    description: Destination group ID.
                    example: 1
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"

        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
              example:
                resource: wallet-name
                detail: wallet-name not found
        "500":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /transactions/submit:
    post:
      tags:
        - Transactions
      summary: Submit Signed Transaction
      description: Submits a signed transaction to the ALPH network for processing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - unsignedTx
                - signature
              properties:
                unsignedTx:
                  type: string
                  description: Serialized unsigned transaction data in hex or base64 format.
                  example: "35d1b2a520a0da34c5eb8d712aa9cc"
                signature:
                  type: string
                  description: Signature of the unsigned transaction.
                  example: "9e1a35b2931bd04e6780d01c36e3e5337941aa80f173cfe4f4e249c44ab135272b834c1a639db9c89d673a8a30524042b0469672ca845458a5a0cf2cad53221b"
      responses:
        "200":
          description: Transaction successfully submitted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  txId:
                    type: string
                    description: Transaction ID of the submitted transaction.
                    example: "503bfb16230888af4924aa8f8250d7d348b862e267d75d3147f1998050b6da69"
                  fromGroup:
                    type: integer
                    description: Source group number from which the transaction was sent.
                    example: 2
                  toGroup:
                    type: integer
                    description: Destination group number to which the transaction is targeted.
                    example: 1
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"

        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
              example:
                resource: wallet-name
                detail: wallet-name not found
        "500":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"

        "503":
          description: ServiceUnavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailable"

  /transactions/decode-unsigned-tx:
    post:
      tags:
        - Transactions
      summary: Decode an unsigned transaction
      description: |
        Decodes a serialized unsigned transaction string and returns the detailed transaction data,
        including groups involved, inputs, outputs, gas parameters, and token information.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                unsignedTx:
                  type: string
                  description: Serialized unsigned transaction string to decode.
                  example: "35d1b2a520a0da34c5eb8d712aa9cc"
              required:
                - unsignedTx
      responses:
        "200":
          description: Successfully decoded unsigned transaction details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  fromGroup:
                    type: integer
                    description: Group number from which the transaction originates.
                    example: 1
                  toGroup:
                    type: integer
                    description: Group number to which the transaction is sent.
                    example: 2
                  unsignedTx:
                    type: object
                    description: Decoded unsigned transaction data.
                    properties:
                      txId:
                        type: string
                        description: Unique transaction identifier.
                        example: "503bfb16230888af4924aa8f8250d7d348b862e267d75d3147f1998050b6da69"
                      version:
                        type: integer
                        description: Transaction version number.
                        example: 1
                      networkId:
                        type: integer
                        description: Network identifier.
                        example: 1
                      gasAmount:
                        type: integer
                        description: Gas units allocated for the transaction.
                        example: 20000
                      gasPrice:
                        type: string
                        description: Price per gas unit in atto ALPH.
                        example: "100000000000"
                      inputs:
                        type: array
                        description: List of inputs consumed by this transaction.
                        items:
                          type: object
                          properties:
                            outputRef:
                              type: object
                              description: Reference to the output being spent.
                              properties:
                                hint:
                                  type: integer
                                  description: A hint to locate the output efficiently.
                                  example: 23412
                                key:
                                  type: string
                                  description: Unique key identifying the output.
                                  example: "798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef"
                            unlockScript:
                              type: string
                              description: Script or public key unlocking the referenced output.
                              example: "00d1b70d2226308b46da297486adb6b4f1a8c1842cb159ac5ec04f384fe2d6f5da28"
                      fixedOutputs:
                        type: array
                        description: List of outputs created by this transaction.
                        items:
                          type: object
                          properties:
                            hint:
                              type: integer
                              description: Hint for output indexing.
                              example: 1
                            key:
                              type: string
                              description: Unique key identifying this output.
                              example: "798e9e137aec7c2d59d9655b4ffa640f301f628bf7c365083bb255f6aa5f89ef"
                            attoAlphAmount:
                              type: string
                              description: Amount in atto ALPH (10^-18 ALPH).
                              example: "2000000000000000000"
                            address:
                              type: string
                              description: Destination address of the output.
                              example: "1AujpupFP4KWeZvqA7itsHY9cLJmx4qTzojVZrg8W9y"
                            tokens:
                              type: array
                              description: List of tokens transferred in this output.
                              items:
[...]
