openapi: 3.0.0
servers:
  - url: https://babylon.nownodes.io

info:
  title: Cosmos SDK - gRPC Gateway docs
  description: A REST interface for state queries.
  version: 1.0.0
security:
  - api-keyAuth: []

paths:
  /cosmos/auth/v1beta1/account_info/{address}:
    get:
      summary: AccountInfo queries account info which is common to all account types.
      description: 'Since: cosmos-sdk 0.47'
      operationId: AccountInfo
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  info:
                    description: >-
                      info is the account info which is represented by
                      BaseAccount.
                    type: object
                    properties:
                      address:
                        type: string
                      pub_key:
                        type: object
                        properties:
                          type_url:
                            type: string
                            description: >-
                              A URL/resource name that uniquely identifies the
                              type of the serialized

                              protocol buffer message. This string must contain
                              at least

                              one "/" character. The last segment of the URL's
                              path must represent

                              the fully qualified name of the type (as in

                              `path/google.protobuf.Duration`). The name should
                              be in a canonical form

                              (e.g., leading "." is not accepted).


                              In practice, teams usually precompile into the
                              binary all types that they

                              expect it to use in the context of Any. However,
                              for URLs which use the

                              scheme `http`, `https`, or no scheme, one can
                              optionally set up a type

                              server that maps type URLs to message definitions
                              as follows:


                              * If no scheme is provided, `https` is assumed.

                              * An HTTP GET on the URL must yield a
                              [google.protobuf.Type][]
                                value in binary format, or produce an error.
                              * Applications are allowed to cache lookup results
                              based on the
                                URL, or have them precompiled into a binary to avoid any
                                lookup. Therefore, binary compatibility needs to be preserved
                                on changes to types. (Use versioned type names to manage
                                breaking changes.)

                              Note: this functionality is not currently
                              available in the official

                              protobuf release, and it is not used for type URLs
                              beginning with

                              type.googleapis.com.


                              Schemes other than `http`, `https` (or the empty
                              scheme) might be

                              used with implementation specific semantics.
                            x-gitbook-description-html: >-
                              <p>A URL/resource name that uniquely identifies
                              the type of the serialized

                              protocol buffer message. This string must contain
                              at least

                              one "/" character. The last segment of the URL's
                              path must represent

                              the fully qualified name of the type (as in

                              <code>path/google.protobuf.Duration</code>). The
                              name should be in a canonical form

                              (e.g., leading "." is not accepted).</p>

                              <p>In practice, teams usually precompile into the
                              binary all types that they

                              expect it to use in the context of Any. However,
                              for URLs which use the

                              scheme <code>http</code>, <code>https</code>, or
                              no scheme, one can optionally set up a type

                              server that maps type URLs to message definitions
                              as follows:</p>

                              <ul>

                              <li>If no scheme is provided, <code>https</code>
                              is assumed.</li>

                              <li>An HTTP GET on the URL must yield a
                              [google.protobuf.Type][]

                              value in binary format, or produce an error.</li>

                              <li>Applications are allowed to cache lookup
                              results based on the

                              URL, or have them precompiled into a binary to
                              avoid any

                              lookup. Therefore, binary compatibility needs to
                              be preserved

                              on changes to types. (Use versioned type names to
                              manage

                              breaking changes.)</li>

                              </ul>

                              <p>Note: this functionality is not currently
                              available in the official

                              protobuf release, and it is not used for type URLs
                              beginning with

                              type.googleapis.com.</p>

                              <p>Schemes other than <code>http</code>,
                              <code>https</code> (or the empty scheme) might be

                              used with implementation specific semantics.</p>
                          value:
                            type: string
                            format: byte
                            description: >-
                              Must be a valid serialized protocol buffer of the
                              above specified type.
                            x-gitbook-description-html: >-
                              <p>Must be a valid serialized protocol buffer of
                              the above specified type.</p>
                        description: >-
                          `Any` contains an arbitrary serialized protocol buffer
                          message along with a

                          URL that describes the type of the serialized message.


                          Protobuf library provides support to pack/unpack Any
                          values in the form

                          of utility functions or additional generated methods
                          of the Any type.


                          Example 1: Pack and unpack a message in C++.

                              Foo foo = ...;
                              Any any;
                              any.PackFrom(foo);
                              ...
                              if (any.UnpackTo(&foo)) {
                                ...
                              }

                          Example 2: Pack and unpack a message in Java.

                              Foo foo = ...;
                              Any any = Any.pack(foo);
                              ...
                              if (any.is(Foo.class)) {
                                foo = any.unpack(Foo.class);
                              }
                              // or ...
                              if (any.isSameTypeAs(Foo.getDefaultInstance())) {
                                foo = any.unpack(Foo.getDefaultInstance());
                              }

                          Example 3: Pack and unpack a message in Python.

                              foo = Foo(...)
                              any = Any()
                              any.Pack(foo)
                              ...
                              if any.Is(Foo.DESCRIPTOR):
                                any.Unpack(foo)
                                ...

                          Example 4: Pack and unpack a message in Go

                               foo := &pb.Foo{...}
                               any, err := anypb.New(foo)
                               if err != nil {
                                 ...
                               }
                               ...
                               foo := &pb.Foo{}
                               if err := any.UnmarshalTo(foo); err != nil {
                                 ...
                               }

                          The pack methods provided by protobuf library will by
                          default use

                          'type.googleapis.com/full.type.name' as the type URL
                          and the unpack

                          methods only use the fully qualified type name after
                          the last '/'

                          in the type URL, for example "foo.bar.com/x/y.z" will
                          yield type

                          name "y.z".


                          JSON


                          The JSON representation of an `Any` value uses the
                          regular

                          representation of the deserialized, embedded message,
                          with an

                          additional field `@type` which contains the type URL.
                          Example:

                              package google.profile;
                              message Person {
                                string first_name = 1;
                                string last_name = 2;
                              }

                              {
                                "@type": "type.googleapis.com/google.profile.Person",
                                "firstName": <string>,
                                "lastName": <string>
                              }

                          If the embedded message type is well-known and has a
                          custom JSON

                          representation, that representation will be embedded
                          adding a field

                          `value` which holds the custom JSON in addition to the
                          `@type`

                          field. Example (for message
                          [google.protobuf.Duration][]):

                              {
                                "@type": "type.googleapis.com/google.protobuf.Duration",
                                "value": "1.212s"
                              }
                        x-gitbook-description-html: >-
                          <p><code>Any</code> contains an arbitrary serialized
                          protocol buffer message along with a

                          URL that describes the type of the serialized
                          message.</p>

                          <p>Protobuf library provides support to pack/unpack
                          Any values in the form

                          of utility functions or additional generated methods
                          of the Any type.</p>

                          <p>Example 1: Pack and unpack a message in C++.</p>

                          <pre><code>Foo foo = ...;

                          Any any;

                          any.PackFrom(foo);

                          ...

                          if (any.UnpackTo(&#x26;foo)) {
                            ...
                          }

                          </code></pre>

                          <p>Example 2: Pack and unpack a message in Java.</p>

                          <pre><code>Foo foo = ...;

                          Any any = Any.pack(foo);

                          ...

                          if (any.is(Foo.class)) {
                            foo = any.unpack(Foo.class);
                          }

                          // or ...

                          if (any.isSameTypeAs(Foo.getDefaultInstance())) {
                            foo = any.unpack(Foo.getDefaultInstance());
                          }

                          </code></pre>

                          <p>Example 3: Pack and unpack a message in Python.</p>

                          <pre><code>foo = Foo(...)

                          any = Any()

                          any.Pack(foo)

                          ...

                          if any.Is(Foo.DESCRIPTOR):
                            any.Unpack(foo)
                            ...
                          </code></pre>

                          <p>Example 4: Pack and unpack a message in Go</p>

                          <pre><code> foo := &#x26;pb.Foo{...}
                           any, err := anypb.New(foo)
                           if err != nil {
                             ...
                           }
                           ...
                           foo := &#x26;pb.Foo{}
                           if err := any.UnmarshalTo(foo); err != nil {
                             ...
                           }
                          </code></pre>

                          <p>The pack methods provided by protobuf library will
                          by default use

                          'type.googleapis.com/full.type.name' as the type URL
                          and the unpack

                          methods only use the fully qualified type name after
                          the last '/'

                          in the type URL, for example "foo.bar.com/x/y.z" will
                          yield type

                          name "y.z".</p>

                          <p>JSON</p>

                          <p>The JSON representation of an <code>Any</code>
                          value uses the regular

                          representation of the deserialized, embedded message,
                          with an

                          additional field <code>@type</code> which contains the
                          type URL. Example:</p>

                          <pre><code>package google.profile;

                          message Person {
                            string first_name = 1;
                            string last_name = 2;
                          }


                          {
                            "@type": "type.googleapis.com/google.profile.Person",
                            "firstName": &#x3C;string>,
                            "lastName": &#x3C;string>
                          }

                          </code></pre>

                          <p>If the embedded message type is well-known and has
                          a custom JSON

                          representation, that representation will be embedded
                          adding a field

                          <code>value</code> which holds the custom JSON in
                          addition to the <code>@type</code>

                          field. Example (for message
                          [google.protobuf.Duration][]):</p>

                          <pre><code>{
                            "@type": "type.googleapis.com/google.protobuf.Duration",
                            "value": "1.212s"
                          }

                          </code></pre>
                      account_number:
                        type: string
                        format: uint64
                      sequence:
                        type: string
                        format: uint64
                    x-gitbook-description-document:
                      object: document
                      data:
                        schemaVersion: 8
                      nodes:
                        - object: block
                          type: paragraph
                          isVoid: false
                          data: {}
                          nodes:
                            - object: text
                              leaves:
                                - object: leaf
                                  text: >-
                                    info is the account info which is
                                    represented by BaseAccount.
                                  marks: []
                    x-gitbook-description-html: >-
                      <p>info is the account info which is represented by
                      BaseAccount.</p>
                description: >-
                  QueryAccountInfoResponse is the Query/AccountInfo response
                  type.


                  Since: cosmos-sdk 0.47
                x-gitbook-description-html: >-
                  <p>QueryAccountInfoResponse is the Query/AccountInfo response
                  type.</p>

                  <p>Since: cosmos-sdk 0.47</p>
          x-gitbook-description-html: <p>A successful response.</p>
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                          description: >-
                            A URL/resource name that uniquely identifies the
                            type of the serialized

                            protocol buffer message. This string must contain at
                            least

                            one "/" character. The last segment of the URL's
                            path must represent

                            the fully qualified name of the type (as in

                            `path/google.protobuf.Duration`). The name should be
                            in a canonical form

                            (e.g., leading "." is not accepted).


                            In practice, teams usually precompile into the
                            binary all types that they

                            expect it to use in the context of Any. However, for
                            URLs which use the

                            scheme `http`, `https`, or no scheme, one can
                            optionally set up a type

                            server that maps type URLs to message definitions as
                            follows:


                            * If no scheme is provided, `https` is assumed.

                            * An HTTP GET on the URL must yield a
                            [google.protobuf.Type][]
                              value in binary format, or produce an error.
                            * Applications are allowed to cache lookup results
                            based on the
                              URL, or have them precompiled into a binary to avoid any
                              lookup. Therefore, binary compatibility needs to be preserved
                              on changes to types. (Use versioned type names to manage
                              breaking changes.)

                            Note: this functionality is not currently available
                            in the official

                            protobuf release, and it is not used for type URLs
                            beginning with

                            type.googleapis.com.


                            Schemes other than `http`, `https` (or the empty
                            scheme) might be

                            used with implementation specific semantics.
                          x-gitbook-description-html: >-
                            <p>A URL/resource name that uniquely identifies the
                            type of the serialized

                            protocol buffer message. This string must contain at
                            least

                            one "/" character. The last segment of the URL's
                            path must represent

                            the fully qualified name of the type (as in

                            <code>path/google.protobuf.Duration</code>). The
                            name should be in a canonical form

                            (e.g., leading "." is not accepted).</p>

                            <p>In practice, teams usually precompile into the
                            binary all types that they

                            expect it to use in the context of Any. However, for
                            URLs which use the

                            scheme <code>http</code>, <code>https</code>, or no
                            scheme, one can optionally set up a type

                            server that maps type URLs to message definitions as
                            follows:</p>

                            <ul>

                            <li>If no scheme is provided, <code>https</code> is
                            assumed.</li>

                            <li>An HTTP GET on the URL must yield a
                            [google.protobuf.Type][]

                            value in binary format, or produce an error.</li>

                            <li>Applications are allowed to cache lookup results
                            based on the

                            URL, or have them precompiled into a binary to avoid
                            any

                            lookup. Therefore, binary compatibility needs to be
                            preserved

                            on changes to types. (Use versioned type names to
                            manage

                            breaking changes.)</li>

                            </ul>

                            <p>Note: this functionality is not currently
                            available in the official

                            protobuf release, and it is not used for type URLs
                            beginning with

                            type.googleapis.com.</p>

                            <p>Schemes other than <code>http</code>,
                            <code>https</code> (or the empty scheme) might be

                            used with implementation specific semantics.</p>
                        value:
                          type: string
                          format: byte
                          description: >-
                            Must be a valid serialized protocol buffer of the
                            above specified type.
                          x-gitbook-description-html: >-
                            <p>Must be a valid serialized protocol buffer of the
                            above specified type.</p>
                      description: >-
                        `Any` contains an arbitrary serialized protocol buffer
                        message along with a

                        URL that describes the type of the serialized message.


                        Protobuf library provides support to pack/unpack Any
                        values in the form

                        of utility functions or additional generated methods of
                        the Any type.


                        Example 1: Pack and unpack a message in C++.

                            Foo foo = ...;
                            Any any;
                            any.PackFrom(foo);
                            ...
                            if (any.UnpackTo(&foo)) {
                              ...
                            }

                        Example 2: Pack and unpack a message in Java.

                            Foo foo = ...;
                            Any any = Any.pack(foo);
                            ...
                            if (any.is(Foo.class)) {
                              foo = any.unpack(Foo.class);
                            }
                            // or ...
                            if (any.isSameTypeAs(Foo.getDefaultInstance())) {
                              foo = any.unpack(Foo.getDefaultInstance());
                            }

                        Example 3: Pack and unpack a message in Python.

                            foo = Foo(...)
                            any = Any()
                            any.Pack(foo)
                            ...
                            if any.Is(Foo.DESCRIPTOR):
                              any.Unpack(foo)
                              ...

                        Example 4: Pack and unpack a message in Go

                             foo := &pb.Foo{...}
                             any, err := anypb.New(foo)
                             if err != nil {
                               ...
                             }
                             ...
                             foo := &pb.Foo{}
                             if err := any.UnmarshalTo(foo); err != nil {
                               ...
                             }

                        The pack methods provided by protobuf library will by
                        default use

                        'type.googleapis.com/full.type.name' as the type URL and
                        the unpack

                        methods only use the fully qualified type name after the
                        last '/'

                        in the type URL, for example "foo.bar.com/x/y.z" will
                        yield type

                        name "y.z".


                        JSON


                        The JSON representation of an `Any` value uses the
                        regular

                        representation of the deserialized, embedded message,
                        with an

                        additional field `@type` which contains the type URL.
                        Example:

                            package google.profile;
                            message Person {
                              string first_name = 1;
                              string last_name = 2;
                            }

                            {
                              "@type": "type.googleapis.com/google.profile.Person",
                              "firstName": <string>,
                              "lastName": <string>
                            }

                        If the embedded message type is well-known and has a
                        custom JSON

                        representation, that representation will be embedded
                        adding a field

                        `value` which holds the custom JSON in addition to the
                        `@type`

                        field. Example (for message
                        [google.protobuf.Duration][]):

                            {
                              "@type": "type.googleapis.com/google.protobuf.Duration",
                              "value": "1.212s"
                            }
                      x-gitbook-description-html: >-
                        <p><code>Any</code> contains an arbitrary serialized
                        protocol buffer message along with a

                        URL that describes the type of the serialized
                        message.</p>

                        <p>Protobuf library provides support to pack/unpack Any
                        values in the form

                        of utility functions or additional generated methods of
                        the Any type.</p>

                        <p>Example 1: Pack and unpack a message in C++.</p>

                        <pre><code>Foo foo = ...;

                        Any any;

                        any.PackFrom(foo);

                        ...

                        if (any.UnpackTo(&#x26;foo)) {
                          ...
                        }

                        </code></pre>

                        <p>Example 2: Pack and unpack a message in Java.</p>

                        <pre><code>Foo foo = ...;

                        Any any = Any.pack(foo);

                        ...

                        if (any.is(Foo.class)) {
                          foo = any.unpack(Foo.class);
                        }

                        // or ...

                        if (any.isSameTypeAs(Foo.getDefaultInstance())) {
                          foo = any.unpack(Foo.getDefaultInstance());
                        }

                        </code></pre>

                        <p>Example 3: Pack and unpack a message in Python.</p>

                        <pre><code>foo = Foo(...)

                        any = Any()

                        any.Pack(foo)

                        ...

                        if any.Is(Foo.DESCRIPTOR):
                          any.Unpack(foo)
                          ...
                        </code></pre>

                        <p>Example 4: Pack and unpack a message in Go</p>

                        <pre><code> foo := &#x26;pb.Foo{...}
                         any, err := anypb.New(foo)
                         if err != nil {
                           ...
                         }
                         ...
                         foo := &#x26;pb.Foo{}
                         if err := any.UnmarshalTo(foo); err != nil {
                           ...
                         }
                        </code></pre>

                        <p>The pack methods provided by protobuf library will by
                        default use

                        'type.googleapis.com/full.type.name' as the type URL and
                        the unpack

                        methods only use the fully qualified type name after the
                        last '/'

                        in the type URL, for example "foo.bar.com/x/y.z" will
                        yield type

                        name "y.z".</p>

                        <p>JSON</p>

                        <p>The JSON representation of an <code>Any</code> value
                        uses the regular

                        representation of the deserialized, embedded message,
                        with an

                        additional field <code>@type</code> which contains the
                        type URL. Example:</p>

                        <pre><code>package google.profile;

                        message Person {
                          string first_name = 1;
                          string last_name = 2;
                        }


                        {
                          "@type": "type.googleapis.com/google.profile.Person",
                          "firstName": &#x3C;string>,
                          "lastName": &#x3C;string>
                        }

                        </code></pre>

                        <p>If the embedded message type is well-known and has a
                        custom JSON

                        representation, that representation will be embedded
                        adding a field

                        <code>value</code> which holds the custom JSON in
                        addition to the <code>@type</code>

                        field. Example (for message
                        [google.protobuf.Duration][]):</p>

                        <pre><code>{
                          "@type": "type.googleapis.com/google.protobuf.Duration",
                          "value": "1.212s"
                        }

                        </code></pre>
          x-gitbook-description-html: <p>An unexpected error response.</p>
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
          description: address is the account address string.
          x-gitbook-description-html: <p>address is the account address string.</p>
      tags:
        - Auth
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 8
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 'Since: cosmos-sdk 0.47'
                    marks: []
      x-gitbook-description-html: '<p>Since: cosmos-sdk 0.47</p>'
  /cosmos/auth/v1beta1/accounts:
    get:
      summary: Accounts returns all the existing accounts.
      description: >-
        When called from another module, this query might consume a high amount
        of

        gas if the pagination field is incorrectly set.


        Since: cosmos-sdk 0.43
      operationId: Accounts
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                          description: >-
                            A URL/resource name that uniquely identifies the
                            type of the serialized

                            protocol buffer message. This string must contain at
                            least

                            one "/" character. The last segment of the URL's
                            path must represent

                            the fully qualified name of the type (as in

                            `path/google.protobuf.Duration`). The name should be
                            in a canonical form

                            (e.g., leading "." is not accepted).


                            In practice, teams usually precompile into the
                            binary all types that they

                            expect it to use in the context of Any. However, for
                            URLs which use the

                            scheme `http`, `https`, or no scheme, one can
                            optionally set up a type

                            server that maps type URLs to message definitions as
                            follows:


                            * If no scheme is provided, `https` is assumed.

                            * An HTTP GET on the URL must yield a
                            [google.protobuf.Type][]
                              value in binary format, or produce an error.
                            * Applications are allowed to cache lookup results
                            based on the
                              URL, or have them precompiled into a binary to avoid any
                              lookup. Therefore, binary compatibility needs to be preserved
                              on changes to types. (Use versioned type names to manage
                              breaking changes.)

                            Note: this functionality is not currently available
                            in the official

                            protobuf release, and it is not used for type URLs
                            beginning with

                            type.googleapis.com.


                            Schemes other than `http`, `https` (or the empty
                            scheme) might be

                            used with implementation specific semantics.
                          x-gitbook-description-html: >-
                            <p>A URL/resource name that uniquely identifies the
                            type of the serialized

                            protocol buffer message. This string must contain at
                            least

                            one "/" character. The last segment of the URL's
                            path must represent

                            the fully qualified name of the type (as in

                            <code>path/google.protobuf.Duration</code>). The
                            name should be in a canonical form

                            (e.g., leading "." is not accepted).</p>

                            <p>In practice, teams usually precompile into the
                            binary all types that they

                            expect it to use in the context of Any. However, for
                            URLs which use the

                            scheme <code>http</code>, <code>https</code>, or no
                            scheme, one can optionally set up a type

                            server that maps type URLs to message definitions as
                            follows:</p>

                            <ul>

                            <li>If no scheme is provided, <code>https</code> is
                            assumed.</li>

                            <li>An HTTP GET on the URL must yield a
                            [google.protobuf.Type][]

                            value in binary format, or produce an error.</li>

                            <li>Applications are allowed to cache lookup results
                            based on the

                            URL, or have them precompiled into a binary to avoid
                            any

                            lookup. Therefore, binary compatibility needs to be
                            preserved

                            on changes to types. (Use versioned type names to
                            manage

                            breaking changes.)</li>

                            </ul>

                            <p>Note: this functionality is not currently
                            available in the official

                            protobuf release, and it is not used for type URLs
                            beginning with

                            type.googleapis.com.</p>

                            <p>Schemes other than <code>http</code>,
                            <code>https</code> (or the empty scheme) might be

                            used with implementation specific semantics.</p>
                        value:
                          type: string
                          format: byte
                          description: >-
                            Must be a valid serialized protocol buffer of the
                            above specified type.
                          x-gitbook-description-html: >-
                            <p>Must be a valid serialized protocol buffer of the
                            above specified type.</p>
                      description: >-
                        `Any` contains an arbitrary serialized protocol buffer
                        message along with a

                        URL that describes the type of the serialized message.


                        Protobuf library provides support to pack/unpack Any
                        values in the form

                        of utility functions or additional generated methods of
                        the Any type.


                        Example 1: Pack and unpack a message in C++.

                            Foo foo = ...;
                            Any any;
                            any.PackFrom(foo);
                            ...
                            if (any.UnpackTo(&foo)) {
                              ...
                            }

                        Example 2: Pack and unpack a message in Java.

                            Foo foo = ...;
                            Any any = Any.pack(foo);
                            ...
                            if (any.is(Foo.class)) {
                              foo = any.unpack(Foo.class);
                            }
                            // or ...
                            if (any.isSameTypeAs(Foo.getDefaultInstance())) {
                              foo = any.unpack(Foo.getDefaultInstance());
                            }

                        Example 3: Pack and unpack a message in Python.

                            foo = Foo(...)
                            any = Any()
                            any.Pack(foo)
                            ...
                            if any.Is(Foo.DESCRIPTOR):
                              any.Unpack(foo)
                              ...

                        Example 4: Pack and unpack a message in Go

                             foo := &pb.Foo{...}
                             any, err := anypb.New(foo)
                             if err != nil {
                               ...
                             }
                             ...
                             foo := &pb.Foo{}
                             if err := any.UnmarshalTo(foo); err != nil {
                               ...
                             }

                        The pack methods provided by protobuf library will by
                        default use

                        'type.googleapis.com/full.type.name' as the type URL and
                        the unpack

                        methods only use the fully qualified type name after the
                        last '/'

                        in the type URL, for example "foo.bar.com/x/y.z" will
                        yield type

                        name "y.z".


                        JSON


                        The JSON representation of an `Any` value uses the
                        regular

                        representation of the deserialized, embedded message,
                        with an

                        additional field `@type` which contains the type URL.
                        Example:

                            package google.profile;
                            message Person {
                              string first_name = 1;
                              string last_name = 2;
                            }

                            {
                              "@type": "type.googleapis.com/google.profile.Person",
                              "firstName": <string>,
                              "lastName": <string>
                            }

                        If the embedded message type is well-known and has a
                        custom JSON

                        representation, that representation will be embedded
                        adding a field

                        `value` which holds the custom JSON in addition to the
                        `@type`

                        field. Example (for message
                        [google.protobuf.Duration][]):

                            {
                              "@type": "type.googleapis.com/google.protobuf.Duration",
                              "value": "1.212s"
                            }
                      x-gitbook-description-html: >-
                        <p><code>Any</code> contains an arbitrary serialized
                        protocol buffer message along with a

                        URL that describes the type of the serialized
                        message.</p>

                        <p>Protobuf library provides support to pack/unpack Any
                        values in the form

                        of utility functions or additional generated methods of
                        the Any type.</p>

                        <p>Example 1: Pack and unpack a message in C++.</p>

                        <pre><code>Foo foo = ...;

                        Any any;

                        any.PackFrom(foo);

                        ...

                        if (any.UnpackTo(&#x26;foo)) {
                          ...
                        }

                        </code></pre>

                        <p>Example 2: Pack and unpack a message in Java.</p>

                        <pre><code>Foo foo = ...;

                        Any any = Any.pack(foo);

                        ...

                        if (any.is(Foo.class)) {
                          foo = any.unpack(Foo.class);
                        }

                        // or ...

                        if (any.isSameTypeAs(Foo.getDefaultInstance())) {
                          foo = any.unpack(Foo.getDefaultInstance());
                        }

                        </code></pre>

                        <p>Example 3: Pack and unpack a message in Python.</p>

                        <pre><code>foo = Foo(...)

                        any = Any()

                        any.Pack(foo)

                        ...

                        if any.Is(Foo.DESCRIPTOR):
                          any.Unpack(foo)
                          ...
                        </code></pre>

                        <p>Example 4: Pack and unpack a message in Go</p>

                        <pre><code> foo := &#x26;pb.Foo{...}
                         any, err := anypb.New(foo)
                         if err != nil {
                           ...
                         }
                         ...
                         foo := &#x26;pb.Foo{}
                         if err := any.UnmarshalTo(foo); err != nil {
                           ...
                         }
                        </code></pre>

                        <p>The pack methods provided by protobuf library will by
                        default use

                        'type.googleapis.com/full.type.name' as the type URL and
                        the unpack

                        methods only use the fully qualified type name after the
                        last '/'

                        in the type URL, for example "foo.bar.com/x/y.z" will
                        yield type

                        name "y.z".</p>

                        <p>JSON</p>

                        <p>The JSON representation of an <code>Any</code> value
                        uses the regular

                        representation of the deserialized, embedded message,
                        with an

                        additional field <code>@type</code> which contains the
                        type URL. Example:</p>

                        <pre><code>package google.profile;

                        message Person {
                          string first_name = 1;
                          string last_name = 2;
                        }


                        {
                          "@type": "type.googleapis.com/google.profile.Person",
                          "firstName": &#x3C;string>,
                          "lastName": &#x3C;string>
                        }

                        </code></pre>

                        <p>If the embedded message type is well-known and has a
                        custom JSON

                        representation, that representation will be embedded
                        adding a field

                        <code>value</code> which holds the custom JSON in
                        addition to the <code>@type</code>

                        field. Example (for message
                        [google.protobuf.Duration][]):</p>

                        <pre><code>{
                          "@type": "type.googleapis.com/google.protobuf.Duration",
                          "value": "1.212s"
                        }

                        </code></pre>
                    title: accounts are the existing accounts
                  pagination:
                    description: pagination defines the pagination in the response.
                    type: object
                    properties:
                      next_key:
                        type: string
                        format: byte
                        description: >-
                          next_key is the key to be passed to PageRequest.key to

                          query the next page most efficiently. It will be empty
                          if

                          there are no more results.
                        x-gitbook-description-html: >-
                          <p>next_key is the key to be passed to PageRequest.key
                          to

                          query the next page most efficiently. It will be empty
                          if

                          there are no more results.</p>
                      total:
                        type: string
                        format: uint64
                        title: >-
                          total is total number of results available if
                          PageRequest.count_total

                          was set, its value is undefined otherwise
                    x-gitbook-description-html: <p>pagination defines the pagination in the response.</p>
                description: >-
                  QueryAccountsResponse is the response type for the
                  Query/Accounts RPC method.


                  Since: cosmos-sdk 0.43
                x-gitbook-description-html: >-
                  <p>QueryAccountsResponse is the response type for the
                  Query/Accounts RPC method.</p>

                  <p>Since: cosmos-sdk 0.43</p>
          x-gitbook-description-html: <p>A successful response.</p>
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                          description: >-
                            A URL/resource name that uniquely identifies the
                            type of the serialized

                            protocol buffer message. This string must contain at
                            least

                            one "/" character. The last segment of the URL's
                            path must represent

                            the fully qualified name of the type (as in

                            `path/google.protobuf.Duration`). The name should be
                            in a canonical form

                            (e.g., leading "." is not accepted).


                            In practice, teams usually precompile into the
                            binary all types that they

                            expect it to use in the context of Any. However, for
                            URLs which use the

                            scheme `http`, `https`, or no scheme, one can
                            optionally set up a type

                            server that maps type URLs to message definitions as
                            follows:


                            * If no scheme is provided, `https` is assumed.

                            * An HTTP GET on the URL must yield a
                            [google.protobuf.Type][]
                              value in binary format, or produce an error.
                            * Applications are allowed to cache lookup results
                            based on the
                              URL, or have them precompiled into a binary to avoid any
                              lookup. Therefore, binary compatibility needs to be preserved
                              on changes to types. (Use versioned type names to manage
                              breaking changes.)

                            Note: this functionality is not currently available
                            in the official

                            protobuf release, and it is not used for type URLs
                            beginning with

                            type.googleapis.com.


                            Schemes other than `http`, `https` (or the empty
                            scheme) might be

                            used with implementation specific semantics.
                          x-gitbook-description-html: >-
                            <p>A URL/resource name that uniquely identifies the
                            type of the serialized

                            protocol buffer message. This string must contain at
                            least

                            one "/" character. The last segment of the URL's
                            path must represent

                            the fully qualified name of the type (as in

                            <code>path/google.protobuf.Duration</code>). The
                            name should be in a canonical form

                            (e.g., leading "." is not accepted).</p>

                            <p>In practice, teams usually precompile into the
                            binary all types that they

                            expect it to use in the context of Any. However, for
                            URLs which use the

                            scheme <code>http</code>, <code>https</code>, or no
                            scheme, one can optionally set up a type

                            server that maps type URLs to message definitions as
                            follows:</p>

                            <ul>

                            <li>If no scheme is provided, <code>https</code> is
                            assumed.</li>

                            <li>An HTTP GET on the URL must yield a
                            [google.protobuf.Type][]

                            value in binary format, or produce an error.</li>

                            <li>Applications are allowed to cache lookup results
                            based on the

                            URL, or have them precompiled into a binary to avoid
                            any

                            lookup. Therefore, binary compatibility needs to be
                            preserved

                            on changes to types. (Use versioned type names to
                            manage

                            breaking changes.)</li>

                            </ul>

                            <p>Note: this functionality is not currently
                            available in the official

                            protobuf release, and it is not used for type URLs
                            beginning with

                            type.googleapis.com.</p>

                            <p>Schemes other than <code>http</code>,
                            <code>https</code> (or the empty scheme) might be

                            used with implementation specific semantics.</p>
                        value:
                          type: string
                          format: byte
                          description: >-
                            Must be a valid serialized protocol buffer of the
                            above specified type.
                          x-gitbook-description-html: >-
                            <p>Must be a valid serialized protocol buffer of the
                            above specified type.</p>
                      description: >-
                        `Any` contains an arbitrary serialized protocol buffer
                        message along with a

                        URL that describes the type of the serialized message.


                        Protobuf library provides support to pack/unpack Any
                        values in the form

                        of utility functions or additional generated methods of
                        the Any type.


                        Example 1: Pack and unpack a message in C++.

                            Foo foo = ...;
                            Any any;
                            any.PackFrom(foo);
                            ...
                            if (any.UnpackTo(&foo)) {
                              ...
                            }

                        Example 2: Pack and unpack a message in Java.

                            Foo foo = ...;
                            Any any = Any.pack(foo);
                            ...
                            if (any.is(Foo.class)) {
                              foo = any.unpack(Foo.class);
                            }
                            // or ...
                            if (any.isSameTypeAs(Foo.getDefaultInstance())) {
                              foo = any.unpack(Foo.getDefaultInstance());
                            }

                        Example 3: Pack and unpack a message in Python.

                            foo = Foo(...)
                            any = Any()
                            any.Pack(foo)
                            ...
                            if any.Is(Foo.DESCRIPTOR):
                              any.Unpack(foo)
                              ...

                        Example 4: Pack and unpack a message in Go

                             foo := &pb.Foo{...}
                             any, err := anypb.New(foo)
                             if err != nil {
                               ...
                             }
                             ...
                             foo := &pb.Foo{}
                             if err := any.UnmarshalTo(foo); err != nil {
                               ...
                             }

                        The pack methods provided by protobuf library will by
                        default use

                        'type.googleapis.com/full.type.name' as the type URL and
                        the unpack

                        methods only use the fully qualified type name after the
                        last '/'

                        in the type URL, for example "foo.bar.com/x/y.z" will
                        yield type

                        name "y.z".


                        JSON


                        The JSON representation of an `Any` value uses the
                        regular

                        representation of the deserialized, embedded message,
                        with an

                        additional field `@type` which contains the type URL.
                        Example:

                            package google.profile;
                            message Person {
                              string first_name = 1;
                              string last_name = 2;
                            }

                            {
                              "@type": "type.googleapis.com/google.profile.Person",
                              "firstName": <string>,
                              "lastName": <string>
                            }

                        If the embedded message type is well-known and has a
                        custom JSON

                        representation, that representation will be embedded
                        adding a field

                        `value` which holds the custom JSON in addition to the
                        `@type`

                        field. Example (for message
                        [google.protobuf.Duration][]):

                            {
                              "@type": "type.googleapis.com/google.protobuf.Duration",
                              "value": "1.212s"
                            }
                      x-gitbook-description-html: >-
                        <p><code>Any</code> contains an arbitrary serialized
                        protocol buffer message along with a

                        URL that describes the type of the serialized
                        message.</p>

                        <p>Protobuf library provides support to pack/unpack Any
                        values in the form

                        of utility functions or additional generated methods of
                        the Any type.</p>

                        <p>Example 1: Pack and unpack a message in C++.</p>

                        <pre><code>Foo foo = ...;

                        Any any;

                        any.PackFrom(foo);

                        ...

                        if (any.UnpackTo(&#x26;foo)) {
                          ...
                        }

                        </code></pre>

                        <p>Example 2: Pack and unpack a message in Java.</p>

                        <pre><code>Foo foo = ...;

                        Any any = Any.pack(foo);

                        ...

                        if (any.is(Foo.class)) {
                          foo = any.unpack(Foo.class);
                        }

                        // or ...

                        if (any.isSameTypeAs(Foo.getDefaultInstance())) {
                          foo = any.unpack(Foo.getDefaultInstance());
                        }

                        </code></pre>

                        <p>Example 3: Pack and unpack a message in Python.</p>

                        <pre><code>foo = Foo(...)

                        any = Any()

                        any.Pack(foo)

                        ...

                        if any.Is(Foo.DESCRIPTOR):
                          any.Unpack(foo)
                          ...
                        </code></pre>

                        <p>Example 4: Pack and unpack a message in Go</p>

                        <pre><code> foo := &#x26;pb.Foo{...}
                         any, err := anypb.New(foo)
                         if err != nil {
                           ...
                         }
                         ...
                         foo := &#x26;pb.Foo{}
                         if err := any.UnmarshalTo(foo); err != nil {
                           ...
                         }
                        </code></pre>

                        <p>The pack methods provided by protobuf library will by
                        default use

                        'type.googleapis.com/full.type.name' as the type URL and
                        the unpack

                        methods only use the fully qualified type name after the
                        last '/'

                        in the type URL, for example "foo.bar.com/x/y.z" will
                        yield type

                        name "y.z".</p>

                        <p>JSON</p>

                        <p>The JSON representation of an <code>Any</code> value
                        uses the regular

                        representation of the deserialized, embedded message,
                        with an

                        additional field <code>@type</code> which contains the
                        type URL. Example:</p>

                        <pre><code>package google.profile;

                        message Person {
                          string first_name = 1;
                          string last_name = 2;
                        }


                        {
                          "@type": "type.googleapis.com/google.profile.Person",
                          "firstName": &#x3C;string>,
                          "lastName": &#x3C;string>
                        }

                        </code></pre>

                        <p>If the embedded message type is well-known and has a
                        custom JSON

                        representation, that representation will be embedded
                        adding a field

                        <code>value</code> which holds the custom JSON in
                        addition to the <code>@type</code>

                        field. Example (for message
                        [google.protobuf.Duration][]):</p>

                        <pre><code>{
                          "@type": "type.googleapis.com/google.protobuf.Duration",
                          "value": "1.212s"
                        }

                        </code></pre>
          x-gitbook-description-html: <p>An unexpected error response.</p>
      parameters:
        - name: pagination.key
          description: |-
            key is a value returned in PageResponse.next_key to begin
            querying the next page most efficiently. Only one of offset or key
            should be set.
          in: query
          required: false
          schema:
            type: string
            format: byte
          x-gitbook-description-html: |-
            <p>key is a value returned in PageResponse.next_key to begin
            querying the next page most efficiently. Only one of offset or key
            should be set.</p>
        - name: pagination.offset
          description: >-
            offset is a numeric offset that can be used when key is unavailable.

            It is less efficient than using key. Only one of offset or key
            should

            be set.
          in: query
          required: false
          schema:
            type: string
            format: uint64
          x-gitbook-description-html: >-
            <p>offset is a numeric offset that can be used when key is
            unavailable.

            It is less efficient than using key. Only one of offset or key
            should

            be set.</p>
        - name: pagination.limit
          description: >-
            limit is the total number of results to be returned in the result
            page.

            If left empty it will default to a value to be set by each app.
          in: query
          required: false
          schema:
            type: string
            format: uint64
          x-gitbook-description-html: >-
            <p>limit is the total number of results to be returned in the result
            page.

            If left empty it will default to a value to be set by each app.</p>
        - name: pagination.count_total
          description: >-
            count_total is set to true  to indicate that the result set should
            include

            a count of the total number of items available for pagination in
            UIs.

            count_total is only respected when offset is used. It is ignored
            when key

            is set.
          in: query
          required: false
          schema:
            type: boolean
          x-gitbook-description-html: >-
            <p>count_total is set to true  to indicate that the result set
            should include

            a count of the total number of items available for pagination in
            UIs.

            count_total is only respected when offset is used. It is ignored
            when key

            is set.</p>
        - name: pagination.reverse
          description: >-
            reverse is set to true if results are to be returned in the
            descending order.


            Since: cosmos-sdk 0.43
          in: query
          required: false
          schema:
            type: boolean
          x-gitbook-description-html: >-
            <p>reverse is set to true if results are to be returned in the
            descending order.</p>

            <p>Since: cosmos-sdk 0.43</p>
      tags:
        - Auth
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 8
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      When called from another module, this query might consume
                      a high amount of

                      gas if the pagination field is incorrectly set.
                    marks: []
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 'Since: cosmos-sdk 0.43'
                    marks: []
      x-gitbook-description-html: >-
        <p>When called from another module, this query might consume a high
        amount of<br>gas if the pagination field is incorrectly
        set.</p><p>Since: cosmos-sdk 0.43</p>
  /cosmos/auth/v1beta1/accounts/{address}:
    get:
      summary: Account returns account details based on address.
      operationId: Account
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    type: object
                    properties:
                      type_url:
                        type: string
                        description: >-
                          A URL/resource name that uniquely identifies the type
                          of the serialized

                          protocol buffer message. This string must contain at
                          least

                          one "/" character. The last segment of the URL's path
                          must represent

                          the fully qualified name of the type (as in

                          `path/google.protobuf.Duration`). The name should be
                          in a canonical form

                          (e.g., leading "." is not accepted).


                          In practice, teams usually precompile into the binary
                          all types that they

                          expect it to use in the context of Any. However, for
                          URLs which use the

                          scheme `http`, `https`, or no scheme, one can
                          optionally set up a type

                          server that maps type URLs to message definitions as
                          follows:


                          * If no scheme is provided, `https` is assumed.

                          * An HTTP GET on the URL must yield a
                          [google.protobuf.Type][]
                            value in binary format, or produce an error.
                          * Applications are allowed to cache lookup results
                          based on the
                            URL, or have them precompiled into a binary to avoid any
                            lookup. Therefore, binary compatibility needs to be preserved
                            on changes to types. (Use versioned type names to manage
                            breaking changes.)

                          Note: this functionality is not currently available in
                          the official

                          protobuf release, and it is not used for type URLs
                          beginning with

                          type.googleapis.com.


                          Schemes other than `http`, `https` (or the empty
                          scheme) might be

                          used with implementation specific semantics.
                        x-gitbook-description-html: >-
                          <p>A URL/resource name that uniquely identifies the
                          type of the serialized

                          protocol buffer message. This string must contain at
                          least

                          one "/" character. The last segment of the URL's path
                          must represent

                          the fully qualified name of the type (as in

                          <code>path/google.protobuf.Duration</code>). The name
                          should be in a canonical form

                          (e.g., leading "." is not accepted).</p>

                          <p>In practice, teams usually precompile into the
                          binary all types that they

                          expect it to use in the context of Any. However, for
                          URLs which use the

                          scheme <code>http</code>, <code>https</code>, or no
                          scheme, one can optionally set up a type

                          server that maps type URLs to message definitions as
                          follows:</p>

                          <ul>

                          <li>If no scheme is provided, <code>https</code> is
                          assumed.</li>

                          <li>An HTTP GET on the URL must yield a
                          [google.protobuf.Type][]

                          value in binary format, or produce an error.</li>

                          <li>Applications are allowed to cache lookup results
                          based on the

                          URL, or have them precompiled into a binary to avoid
                          any

                          lookup. Therefore, binary compatibility needs to be
                          preserved

                          on changes to types. (Use versioned type names to
                          manage

                          breaking changes.)</li>

                          </ul>

                          <p>Note: this functionality is not currently available
                          in the official

                          protobuf release, and it is not used for type URLs
                          beginning with

                          type.googleapis.com.</p>

                          <p>Schemes other than <code>http</code>,
                          <code>https</code> (or the empty scheme) might be

                          used with implementation specific semantics.</p>
                      value:
                        type: string
                        format: byte
                        description: >-
                          Must be a valid serialized protocol buffer of the
                          above specified type.
                        x-gitbook-description-html: >-
                          <p>Must be a valid serialized protocol buffer of the
                          above specified type.</p>
                    description: >-
                      `Any` contains an arbitrary serialized protocol buffer
                      message along with a

                      URL that describes the type of the serialized message.


                      Protobuf library provides support to pack/unpack Any
                      values in the form

                      of utility functions or additional generated methods of
                      the Any type.


                      Example 1: Pack and unpack a message in C++.

                          Foo foo = ...;
                          Any any;
                          any.PackFrom(foo);
                          ...
                          if (any.UnpackTo(&foo)) {
                            ...
                          }

                      Example 2: Pack and unpack a message in Java.

                          Foo foo = ...;
                          Any any = Any.pack(foo);
                          ...
                          if (any.is(Foo.class)) {
                            foo = any.unpack(Foo.class);
                          }
                          // or ...
                          if (any.isSameTypeAs(Foo.getDefaultInstance())) {
                            foo = any.unpack(Foo.getDefaultInstance());
                          }

                      Example 3: Pack and unpack a message in Python.

                          foo = Foo(...)
                          any = Any()
                          any.Pack(foo)
                          ...
                          if any.Is(Foo.DESCRIPTOR):
                            any.Unpack(foo)
                            ...

                      Example 4: Pack and unpack a message in Go

                           foo := &pb.Foo{...}
                           any, err := anypb.New(foo)
                           if err != nil {
                             ...
                           }
                           ...
                           foo := &pb.Foo{}
                           if err := any.UnmarshalTo(foo); err != nil {
                             ...
                           }

                      The pack methods provided by protobuf library will by
                      default use

                      'type.googleapis.com/full.type.name' as the type URL and
                      the unpack

                      methods only use the fully qualified type name after the
                      last '/'

                      in the type URL, for example "foo.bar.com/x/y.z" will
                      yield type

                      name "y.z".


                      JSON


                      The JSON representation of an `Any` value uses the regular

                      representation of the deserialized, embedded message, with
                      an

                      additional field `@type` which contains the type URL.
                      Example:

                          package google.profile;
                          message Person {
                            string first_name = 1;
                            string last_name = 2;
                          }

                          {
                            "@type": "type.googleapis.com/google.profile.Person",
                            "firstName": <string>,
                            "lastName": <string>
                          }

                      If the embedded message type is well-known and has a
                      custom JSON

                      representation, that representation will be embedded
                      adding a field

                      `value` which holds the custom JSON in addition to the
                      `@type`

                      field. Example (for message [google.protobuf.Duration][]):

                          {
                            "@type": "type.googleapis.com/google.protobuf.Duration",
                            "value": "1.212s"
                          }
                    x-gitbook-description-html: >-
                      <p><code>Any</code> contains an arbitrary serialized
                      protocol buffer message along with a

                      URL that describes the type of the serialized message.</p>

                      <p>Protobuf library provides support to pack/unpack Any
                      values in the form

                      of utility functions or additional generated methods of
                      the Any type.</p>

                      <p>Example 1: Pack and unpack a message in C++.</p>

                      <pre><code>Foo foo = ...;

                      Any any;

                      any.PackFrom(foo);

                      ...

                      if (any.UnpackTo(&#x26;foo)) {
                        ...
                      }

                      </code></pre>

                      <p>Example 2: Pack and unpack a message in Java.</p>

                      <pre><code>Foo foo = ...;

                      Any any = Any.pack(foo);

                      ...

                      if (any.is(Foo.class)) {
                        foo = any.unpack(Foo.class);
                      }

                      // or ...

                      if (any.isSameTypeAs(Foo.getDefaultInstance())) {
                        foo = any.unpack(Foo.getDefaultInstance());
                      }

                      </code></pre>

                      <p>Example 3: Pack and unpack a message in Python.</p>

                      <pre><code>foo = Foo(...)

                      any = Any()

                      any.Pack(foo)

                      ...

                      if any.Is(Foo.DESCRIPTOR):
                        any.Unpack(foo)
                        ...
                      </code></pre>

                      <p>Example 4: Pack and unpack a message in Go</p>

                      <pre><code> foo := &#x26;pb.Foo{...}
                       any, err := anypb.New(foo)
                       if err != nil {
                         ...
                       }
                       ...
                       foo := &#x26;pb.Foo{}
                       if err := any.UnmarshalTo(foo); err != nil {
                         ...
                       }
                      </code></pre>

                      <p>The pack methods provided by protobuf library will by
                      default use

                      'type.googleapis.com/full.type.name' as the type URL and
                      the unpack

                      methods only use the fully qualified type name after the
                      last '/'

                      in the type URL, for example "foo.bar.com/x/y.z" will
                      yield type

                      name "y.z".</p>

                      <p>JSON</p>

                      <p>The JSON representation of an <code>Any</code> value
                      uses the regular

                      representation of the deserialized, embedded message, with
                      an

                      additional field <code>@type</code> which contains the
                      type URL. Example:</p>

                      <pre><code>package google.profile;

                      message Person {
                        string first_name = 1;
                        string last_name = 2;
                      }


                      {
                        "@type": "type.googleapis.com/google.profile.Person",
                        "firstName": &#x3C;string>,
                        "lastName": &#x3C;string>
                      }

                      </code></pre>

                      <p>If the embedded message type is well-known and has a
                      custom JSON

                      representation, that representation will be embedded
                      adding a field

                      <code>value</code> which holds the custom JSON in addition
                      to the <code>@type</code>

                      field. Example (for message
                      [google.protobuf.Duration][]):</p>

                      <pre><code>{
                        "@type": "type.googleapis.com/google.protobuf.Duration",
                        "value": "1.212s"
                      }

                      </code></pre>
                description: >-
                  QueryAccountResponse is the response type for the
                  Query/Account RPC method.
                x-gitbook-description-html: >-
                  <p>QueryAccountResponse is the response type for the
                  Query/Account RPC method.</p>
          x-gitbook-description-html: <p>A successful response.</p>
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                          description: >-
                            A URL/resource name that uniquely identifies the
                            type of the serialized

                            protocol buffer message. This string must contain at
                            least

                            one "/" character. The last segment of the URL's
                            path must represent

                            the fully qualified name of the type (as in

                            `path/google.protobuf.Duration`). The name should be
                            in a canonical form

                            (e.g., leading "." is not accepted).


                            In practice, teams usually precompile into the
                            binary all types that they

                            expect it to use in the context of Any. However, for
                            URLs which use the

                            scheme `http`, `https`, or no scheme, one can
                            optionally set up a type

                            server that maps type URLs to message definitions as
                            follows:


                            * If no scheme is provided, `https` is assumed.

                            * An HTTP GET on the URL must yield a
                            [google.protobuf.Type][]
                              value in binary format, or produce an error.
                            * Applications are allowed to cache lookup results
                            based on the
                              URL, or have them precompiled into a binary to avoid any
                              lookup. Therefore, binary compatibility needs to be preserved
                              on changes to types. (Use versioned type names to manage
                              breaking changes.)

                            Note: this functionality is not currently available
                            in the official

                            protobuf release, and it is not used for type URLs
                            beginning with

                            type.googleapis.com.


                            Schemes other than `http`, `https` (or the empty
                            scheme) might be

                            used with implementation specific semantics.
                          x-gitbook-description-html: >-
                            <p>A URL/resource name that uniquely identifies the
                            type of the serialized

                            protocol buffer message. This string must contain at
                            least

                            one "/" character. The last segment of the URL's
                            path must represent

                            the fully qualified name of the type (as in

                            <code>path/google.protobuf.Duration</code>). The
                            name should be in a canonical form

                            (e.g., leading "." is not accepted).</p>

                            <p>In practice, teams usually precompile into the
                            binary all types that they

                            expect it to use in the context of Any. However, for
                            URLs which use the

                            scheme <code>http</code>, <code>https</code>, or no
                            scheme, one can optionally set up a type

                            server that maps type URLs to message definitions as
                            follows:</p>

                            <ul>

                            <li>If no scheme is provided, <code>https</code> is
                            assumed.</li>

                            <li>An HTTP GET on the URL must yield a
                            [google.protobuf.Type][]

                            value in binary format, or produce an error.</li>

                            <li>Applications are allowed to cache lookup results
                            based on the

                            URL, or have them precompiled into a binary to avoid
                            any

                            lookup. Therefore, binary compatibility needs to be
                            preserved

                            on changes to types. (Use versioned type names to
                            manage

                            breaking changes.)</li>

                            </ul>

                            <p>Note: this functionality is not currently
                            available in the official

                            protobuf release, and it is not used for type URLs
                            beginning with

                            type.googleapis.com.</p>

                            <p>Schemes other than <code>http</code>,
                            <code>https</code> (or the empty scheme) might be

                            used with implementation specific semantics.</p>
                        value:
                          type: string
                          format: byte
                          description: >-
                            Must be a valid serialized protocol buffer of the
                            above specified type.
                          x-gitbook-description-html: >-
                            <p>Must be a valid serialized protocol buffer of the
                            above specified type.</p>
                      description: >-
                        `Any` contains an arbitrary serialized protocol buffer
                        message along with a

                        URL that describes the type of the serialized message.


                        Protobuf library provides support to pack/unpack Any
                        values in the form

                        of utility functions or additional generated methods of
                        the Any type.


                        Example 1: Pack and unpack a message in C++.

                            Foo foo = ...;
                            Any any;
                            any.PackFrom(foo);
                            ...
                            if (any.UnpackTo(&foo)) {
                              ...
                            }

                        Example 2: Pack and unpack a message in Java.

                            Foo foo = ...;
                            Any any = Any.pack(foo);
                            ...
                            if (any.is(Foo.class)) {
                              foo = any.unpack(Foo.class);
                            }
                            // or ...
                            if (any.isSameTypeAs(Foo.getDefaultInstance())) {
                              foo = any.unpack(Foo.getDefaultInstance());
                            }

                        Example 3: Pack and unpack a message in Python.

                            foo = Foo(...)
                            any = Any()
                            any.Pack(foo)
                            ...
                            if any.Is(Foo.DESCRIPTOR):
                              any.Unpack(foo)
                              ...

                        Example 4: Pack and unpack a message in Go

                             foo := &pb.Foo{...}
                             any, err := anypb.New(foo)
                             if err != nil {
                               ...
                             }
                             ...
                             foo := &pb.Foo{}
                             if err := any.UnmarshalTo(foo); err != nil {
                               ...
                             }

                        The pack methods provided by protobuf library will by
                        default use

                        'type.googleapis.com/full.type.name' as the type URL and
                        the unpack

                        methods only use the fully qualified type name after the
                        last '/'

                        in the type URL, for example "foo.bar.com/x/y.z" will
                        yield type

                        name "y.z".


                        JSON


                        The JSON representation of an `Any` value uses the
                        regular

                        representation of the deserialized, embedded message,
                        with an

                        additional field `@type` which contains the type URL.
                        Example:

                            package google.profile;
                            message Person {
                              string first_name = 1;
                              string last_name = 2;
                            }

                            {
                              "@type": "type.googleapis.com/google.profile.Person",
                              "firstName": <string>,
                              "lastName": <string>
                            }

                        If the embedded message type is well-known and has a
                        custom JSON

                        representation, that representation will be embedded
                        adding a field

                        `value` which holds the custom JSON in addition to the
                        `@type`

                        field. Example (for message
                        [google.protobuf.Duration][]):

                            {
                              "@type": "type.googleapis.com/google.protobuf.Duration",
                              "value": "1.212s"
                            }
                      x-gitbook-description-html: >-
                        <p><code>Any</code> contains an arbitrary serialized
                        protocol buffer message along with a

                        URL that describes the type of the serialized
                        message.</p>

                        <p>Protobuf library provides support to pack/unpack Any
                        values in the form

                        of utility functions or additional generated methods of
                        the Any type.</p>

                        <p>Example 1: Pack and unpack a message in C++.</p>

                        <pre><code>Foo foo = ...;

                        Any any;

                        any.PackFrom(foo);

                        ...

                        if (any.UnpackTo(&#x26;foo)) {
                          ...
                        }

                        </code></pre>

                        <p>Example 2: Pack and unpack a message in Java.</p>

                        <pre><code>Foo foo = ...;

                        Any any = Any.pack(foo);

                        ...

                        if (any.is(Foo.class)) {
                          foo = any.unpack(Foo.class);
                        }

                        // or ...

                        if (any.isSameTypeAs(Foo.getDefaultInstance())) {
                          foo = any.unpack(Foo.getDefaultInstance());
                        }

                        </code></pre>

                        <p>Example 3: Pack and unpack a message in Python.</p>

                        <pre><code>foo = Foo(...)

                        any = Any()

                        any.Pack(foo)

                        ...

                        if any.Is(Foo.DESCRIPTOR):
                          any.Unpack(foo)
                          ...
                        </code></pre>

                        <p>Example 4: Pack and unpack a message in Go</p>

                        <pre><code> foo := &#x26;pb.Foo{...}
                         any, err := anypb.New(foo)
                         if err != nil {
                           ...
                         }
                         ...
                         foo := &#x26;pb.Foo{}
                         if err := any.UnmarshalTo(foo); err != nil {
                           ...
                         }
                        </code></pre>

                        <p>The pack methods provided by protobuf library will by
                        default use

                        'type.googleapis.com/full.type.name' as the type URL and
                        the unpack

                        methods only use the fully qualified type name after the
                        last '/'

                        in the type URL, for example "foo.bar.com/x/y.z" will
                        yield type

                        name "y.z".</p>

                        <p>JSON</p>

                        <p>The JSON representation of an <code>Any</code> value
                        uses the regular

                        representation of the deserialized, embedded message,
                        with an

                        additional field <code>@type</code> which contains the
                        type URL. Example:</p>

                        <pre><code>package google.profile;

                        message Person {
                          string first_name = 1;
                          string last_name = 2;
                        }


                        {
                          "@type": "type.googleapis.com/google.profile.Person",
                          "firstName": &#x3C;string>,
                          "lastName": &#x3C;string>
                        }

                        </code></pre>

                        <p>If the embedded message type is well-known and has a
                        custom JSON

                        representation, that representation will be embedded
                        adding a field

                        <code>value</code> which holds the custom JSON in
                        addition to the <code>@type</code>

                        field. Example (for message
                        [google.protobuf.Duration][]):</p>

                        <pre><code>{
                          "@type": "type.googleapis.com/google.protobuf.Duration",
                          "value": "1.212s"
                        }

                        </code></pre>
          x-gitbook-description-html: <p>An unexpected error response.</p>
      parameters:
        - name: address
          description: address defines the address to query for.
          in: path
          required: true
          schema:
            type: string
          x-gitbook-description-html: <p>address defines the address to query for.</p>
      tags:
        - Auth
  /cosmos/auth/v1beta1/address_by_id/{id}:
    get:
      summary: AccountAddressByID returns account address based on account number.
[...]
